body {
  font-family: $font-body;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  font-family: $font-heading;
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 1.2rem;

    // animation-name: moveInLeft;
    // animation-duration: 1s;
    // animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 0.8rem;
      font-family: 5rem;
    }
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    // animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.4rem;
    }
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  border-bottom: 5px solid $color-primary-dark;

  @include respond(tab-port) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3rem;
  }

  &__white {
    background-image: none;
    color: $color-white;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  &__primary-color {
    background-image: none;
    color: $color-primary;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }

  &__secondary-dark {
    background-image: none;
    color: $color-secondary-dark;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  &__white {
    color: $color-white;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__white {
    color: $color-white;
  }
}
