/*
  Theme Name: Lawfirm
  Author: Daniel Branda
  Version: 1.0
*/

/* SASS and Gloabl'ish Stuff */

/* @import 'folder/name'; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  line-height: 1.4;
  transition: padding-top 0.2s ease 0s;
  color: #6a7d89;
  position: relative;
}

main {
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: #ec602e;
  transition: color 0.5s ease 0s;
}

a:hover {
  text-decoration: none;
  color: #ae854e;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h1,
h2,
.content-panel h2.look-like-h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.25em;
  color: #193963;
}

.text-highlight-1 {
  color: #193963;
  border-left: solid 2px #b4b4b4;
  padding: 0.5em 1em 1em;
  font-size: 1.1em;
  margin: 1.75em 0 1.75em -1em;
  border-bottom: solid 2px #b4b4b4;
}

icon {
  font-family: sans-serif; /* should be 'icomoon-ult !important */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BEM Blocks */

.full {
  width: auto;
  margin: 0px auto;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9vw;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.box {
  display: flex;
}

.archive {
  margin: 3em 1em;
}

.main {
  max-width: 1500px;
  width: auto;
  margin: 0 auto;
  position: relative;
}

.main.short {
  max-width: 1150px;
}

.half {
  width: auto;
}

.two-thirds {
  flex: 0 1 66.66%;
  width: 66.66%;
}

.third {
  flex: 0 1 33.33%;
  width: 33.33%;
}

.cont-wrap {
  position: relative;
}

.content-panel {
  line-height: 2em;
  color: #0b2338;
  font-size: 1.25em;
}

.content-panel h2,
.content-panel h3,
.content-panel h4 {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 400;
}

.content-panel h1 {
  text-transform: uppercase;
  color: #ae854e;
  font-weight: 600;
}

.content-panel h2 {
  font-size: 1.25em;
  color: #ae854e;
  letter-spacing: 0.2em;
}

.content-panel h3 {
  font-size: 1.25em;
  color: #2f2f2f;
  font-family: 'Raleway', sans-serif;
}

.content-panel.overlap {
  position: relative;
  -webkit-transform: translateY(-10em);
  transform: translateY(-10em);
  display: block;
  background-color: #ffffff;
  padding: 3em;
  width: 100%;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  z-index: 2;
  margin-bottom: -10em;
}

.content-panel.overlap.show {
}

.wide.content-panel {
  padding: 0 3em;
}

.content {
  line-height: 2em;
}

header.fancy {
  padding: 2em 0;
  border-bottom: solid 2px #ae854e;
}

header.fancy h3 {
  color: #ae854e;
  font-size: 2.75em;
  font-weight: 300;
}

header.fancy h4 {
  color: #ae854e;
  font-size: 3em;
  font-weight: 300;
}

header.fancy strong {
  font-weight: 600;
  text-transform: uppercase;
}

.contact-pg {
  padding: 3em;
}

.btn,
.button-list li a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  border: none;
  position: relative;
  color: #ffffff;
  background-color: #ec602e;
  transition: 0.5s ease 0s;
  font-size: 1.25rem;
}

.btn:hover,
a:hover .btn,
.button-list li a:hover {
  background-color: #ae854e;
  color: #ffffff;
}

form button,
button.btn {
  font-family: inherit;
  font-size: 1.25rem;
  line-height: inherit;
}

.masthead {
  display: flex;
  width: 100%;
  background-color: #0b2338;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0.5em 1%;
}

.masthead .top-logo {
}

.masthead .contact-info {
  flex: 0 1 auto;
}

.masthead .contact-info a {
  color: #b4b4b4;
  font-size: 2em;
  padding: 0;
}

.mob-phone {
  display: none;
}

.masthead > a.search-trigger {
  font-size: 1.5em;
  margin-left: 0.5em;
  flex: 0 1 3%;
}

nav.top-nav {
  flex: 0 1 60%;
  max-width: 60%;
}

.desktop-nav {
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
}

.desktop-nav li {
}

.desktop-nav > li {
  position: static;
}

.desktop-nav li a {
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 1.75em 0;
}

.desktop-nav li a span {
  position: relative;
  padding: 0.5em;
}

.desktop-nav li a span:before,
.desktop-nav li a span:after {
  position: absolute;
  content: '';
  background-color: #ec602e;
}

.desktop-nav li a span:before {
  left: 0;
  transition: height 0.15s ease 0.15s, background-color 0.5s ease 0.6s;
  width: 2px;
  height: 0;
  top: 0;
}

.desktop-nav li a span:after {
  transition: width 0.15s ease 0.15s, background-color 0.5s ease 0.6s;
  bottom: 0;
  height: 2px;
  width: 0;
  right: 0;
}

.desktop-nav li a:hover span:before,
.desktop-nav li a.selected span:before {
  height: 100%;
  background-color: #ec602e;
}

.desktop-nav li a:hover span:after,
.desktop-nav li a.selected span:after {
  background-color: #ec602e;
  width: 100%;
}

.desktop-nav li .nav-flyout {
  height: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  transition: all ease 0.5s;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.desktop-nav li a.selected + .nav-flyout {
  z-index: 1;
}

.desktop-nav li a:hover + .nav-flyout,
.desktop-nav li a + .nav-flyout:hover {
  background-color: #123655;
  height: auto;
  transition: all ease 1s;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.desktop-nav li a:hover + .nav-flyout,
.desktop-nav li a + .nav-flyout:hover {
  z-index: 2;
  transition: all ease 0.5s;
}

.desktop-nav li .nav-flyout > ul {
  display: flex;
  justify-content: flex-start;
  max-width: 1100px;
  margin: 2em auto;
  flex-wrap: wrap;
}

.desktop-nav li .nav-flyout > ul > li {
  flex: 0 1 33%;
  display: block;
}

.desktop-nav .nav-flyout li a span {
  display: inline-block;
  position: relative;
  padding: 0.75em;
  border-bottom: solid 1px #0b2338;
}

.ui-scroll {
  overflow: auto;
}

.ui-scroll::-webkit-scrollbar-track {
  background: none;
}

.ui-scroll::-webkit-scrollbar-thumb {
  border: solid 2px transparent;
  background-clip: padding-box;
  border-radius: 12px;
  background-color: rgba(16, 37, 78, 0.1);
}

.ui-scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}

.ui-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.ui-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: none;
}

.top-nav .ui-scroll {
  _overflow: visible !important;
}

.mobile-nav {
  display: none;
}

.mobile-menu nav {
  position: static;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0.85rem;
  z-index: 10;
}

.mobile-menu nav.enter {
  left: 0;
}

.mobile-menu nav ul {
  position: relative;
  transition: left 0.5s ease;
  left: 0;
  padding-top: 4em !important;
  display: block !important;
  padding: 0;
  margin: 0;
}

.mobile-menu nav ul.leave {
  left: -100%;
}

.mobile-menu nav ul:before {
  content: 'Back';
  position: absolute;
  color: #ffffff;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding-left: 3em;
  line-height: 2.5em;
  font-size: 1.5em;
  text-align: left;
}

.mobile-menu nav > ul:before {
  content: 'Close';
  text-align: left;
  display: none;
}

.mobile-menu nav ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  color: #ffffff;
  position: absolute;
  font-size: 1.5em;
  left: 0.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  top: 0.875em;
}

.mobile-menu nav > ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  display: none;
}

.mobile-menu nav ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  list-style: none;
}

.mobile-menu nav ul li.hasChild:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  float: right;
  font-size: 1.5em;
  margin-right: 1.5em;
  color: #ffffff;
  line-height: 2.65em;
}

.mobile-menu nav ul li a {
  display: block;
  color: #ffffff !important;
  padding: 0.5em 1em;
  text-align: left !important;
  background-color: transparent !important;
  font-size: 1.7em;
}

.mobile-menu nav ul li.hasChild > a {
  width: calc(100% - 3em);
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.mobile-menu nav ul ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.mobile-menu nav ul.leave > li.enter > ul {
  visibility: visible;
  margin-left: 0;
}

.mobile-menu .exit {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0;
  border: solid 2px #ec602e;
  display: block;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.5s ease;
  right: 0;
}

.mobile-menu .exit .close {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-menu .exit .close:before {
  width: 80%;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
}

.mobile-menu .exit .close:after {
  width: 80%;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
}

.trig-wrap {
  display: none;
  position: relative;
  justify-content: flex-end;
  width: 60%;
}

.menu-trigger {
  margin-right: 3em;
  cursor: pointer;
  display: block;
  border: solid 2px #ec602e;
  height: 3.5em;
  width: 3.5em;
  position: relative;
}

.menu-trigger .line {
  height: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 70%;
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-trigger .line:nth-child(1) {
  transition-delay: 0.6s;
  top: 28%;
}

.menu-trigger .line:nth-child(2) {
  transition-delay: 0.7s;
  top: 50%;
}

.menu-trigger .line:nth-child(3) {
  transition-delay: 0.8s;
  top: 72%;
}

.menu-trigger .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-trigger .close:before {
  transition-delay: 0.35s;
  width: 0;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transition: width 0.5s ease 0.5s, -webkit-transform 0.5s ease 1s;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s, -webkit-transform 0.5s ease 1s;
}

.menu-trigger .close:after {
  transition-delay: 0.5s;
  width: 0;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: width 0.5s ease 0.5s, -webkit-transform 0.5s ease 1s;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s, -webkit-transform 0.5s ease 1s;
  content: '';
}

.footer-section {
}

.schema-link-section {
  background-color: #0b2338;
  padding: 4em 0;
}

.schema-link-section .box {
  justify-content: space-between;
}

.schema {
  flex: 0 1 20%;
}

.schema li {
  padding: 1em 0;
  border-bottom: solid 1px #123655;
  color: #ffffff;
}

.schema h4 {
  color: #ae854e;
  text-transform: uppercase;
}

.schema h3 {
  line-height: 1em;
  margin: auto;
}

.scehma h3 a {
  color: #b4b4b4;
  font-weight: 700;
}

.schema li .sitelink a {
  color: #ec602e;
}

.soc-links {
  margin: 2em auto;
}

.soc-links ul.box {
  justify-content: center;
  display: flex;
}

.soc-links ul.box li {
  padding: 0 5%;
}

.soc-links li a {
  color: #ffffff;
  transition: color 0.5s ease;
  font-size: 1.5em;
}

.soc-links li a:hover {
  color: #ec602e;
}

.foot-links {
  flex: 0 1 20%;
}

.foot-links header {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 1em;
}

.foot-links header h3 {
  text-transform: uppercase;
  color: #ffffff;
}

.foot-links ul li {
  padding: 1em 0;
  border-bottom: solid 1px #123655;
}

.foot-links ul li a {
  color: #ffffff;
  line-height: 1em;
}

.footer-section .sd-footer {
  background-color: #2f2f2f;
  color: #b4b4b4;
  padding: 1em 0;
}

.footer-section .sd-footer .box {
  align-items: center;
  justify-content: space-between;
}

.footer-section .sd-footer .box small {
  text-align: right;
  flex: 0 1 50%;
}

.footer-section .sd-footer .box small .copyright {
  margin-bottom: 1em;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 54, 85, 0.902);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  box-sizing: border-box;
}

.search-overlay p {
    padding-top: 15px;
  }

body.admin-bar .search-overlay {
    top: 32px;
  }

.search-overlay__top {
    background-color: rgba(0, 0, 0, 0.12);
  }

.search-overlay__icon {
    margin-right: 10px;
    font-size: 1.8rem;
    color: #ec602e;
  }

.search-overlay--active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.search-overlay__close {
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #ffffff;
    color: #ec602e;
    line-height: 0.7;
  }

.search-overlay__close:hover {
    opacity: 1;
  }

.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #ec602e;
}

.body-no-scroll {
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.animate-section {
  position: relative;
}

.animation {
  position: relative;
  height: 55em;
  width: 100%;
  background-color: #0d0d0d;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  left: 0;
}

.slide:first-child {
  display: block;
}

.slide img.slide-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.slide .main {
  height: 100%;
  padding: 0;
}

.info {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  padding: 10% 0em 0 0em;
  height: 100%;
  max-width: 70%;
}

.info h1 {
  position: relative;
  display: block;
  width: auto;
  color: #ffffff;
  font-size: 4.12em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: justify;
  text-shadow: 0 0 1em #000000;
}

.info h2 {
  position: relative;
  display: block;
  width: auto;
  color: #ffffff;
  font-size: 5em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: justify;
  text-shadow: 0 0 0.5em #000000;
}

.info h2 em {
  display: block;
  font-style: normal;
  font-weight: 300;
  position: relative;
  letter-spacing: 0.1em;
  font-size: 0.75em;
  text-shadow: 0 0 0.5em #000000;
}

.info h2 em:after {
  content: '';
  width: 41%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 2%;
}

.info h2 span {
  font-weight: 300;
}

.slide .info .btn {
  display: none;
}

.animate-cont {
  z-index: 5;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: auto;
  height: auto;
  padding: 3em 3em 0 3em;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.animate-cont strong {
  color: #ae854e;
  font-size: 1.5em;
  font-weight: 600;
}

.wide-cta-section {
  padding: 2em 0;
}

.wide-cta {
  border-left: solid 2px #b4b4b4;
  border-bottom: solid 2px #b4b4b4;
  padding: 2em;
  margin: 0 2em 2em 1.5em;
  font-size: 1.5em;
}

.wide-cta h3 {
  line-height: 1.5em;
  color: #0b2338;
  font-family: 'Raleway', sans-serif;
}

.wide-cta strong {
  display: block;
}

.wide-cta-section .btn-wrap {
  padding: 2em 5em;
}

.prac-acco-section {
  padding: 10em 0 25em 0;
  /* Note, add background image */
  /* background-image: url(/web/address/here.jpg); */
  background-position: top;
  background-repeat: no-repeat;
}

.prac-acco-section .box {
  align-items: stretch;
  justify-content: space-between;
}

.practice-nav {
  background-color: rgba(18, 54, 85, 0.902);
  padding: 4%;
  flex: 0 1 60%;
}

.practice-nav h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 600;
}

.practice-nav h3 a {
  color: #ffffff;
}

.practice-nav ul {
  margin: 3em 0;
  flex-wrap: wrap;
  display: flex;
  font-size: 1.5em;
}

.practice-nav ul li {
  padding: 0.5em 0em 0.5em 1em;
  border-left: solid 1px #ffffff;
  flex: 0 1 50%;
}

.practice-nav ul li a {
  color: #ffffff;
  display: block;
  position: relative;
}

.practice-nav ul li a:hover:after {
  margin-left: 2em;
}

.practice-nav .btn-container {
  text-align: center;
  padding: 0;
}

.practice-nav .btn-container .btn {
  padding: 0.5em 2.5em;
}

.accolades {
  background-color: rgba(18, 54, 85, 0.902);
  padding: 4%;
  flex: 0 1 35%;
  text-align: center;
}

.accolades h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.75em;
  margin-bottom: 1em;
}

.award-list ul {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.award-list ul li {
  flex: 0 1 49%;
  text-align: center;
  padding: 0.5em 0;
  position: relative;
  height: 9em;
}

.award-list ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.award-list ul li:hover img {
  opacity: 0.2;
}

.award-list ul li div {
  color: #ffffff;
  position: absolute;
  top: 20%;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: 0.5s ease-in;
  line-height: 1.15em;
}

.award-list ul li:hover div {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.midcont-section {
  z-index: 2;
}

.midcont-section .mid-img {
  padding: 4em 0;
  flex: 0 1 40%;
}

.midcont-section .mid-img .img {
  width: 100%;
}

.midcont-section .cont-wrap {
  position: relative;
  flex: 0 1 60%;
}

.midcont-section .cont-wrap .content-panel {
}

.midcont-section .cont-wrap .content-panel h2 {
  color: #ae854e;
  font-weight: 600;
  font-size: 1.35em;
}

.midcont-section .cont-wrap .content-panel .btn {
  margin-top: 2em;
}

.results-section {
  background-color: #0b2338;
  padding: 4em 0;
  text-align: center;
}

.results-section header {
}

.results-section header h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 600;
}

.results-section .results-info {
  margin: 2em auto;
  flex: 0 1 50%;
}

.results-section .results-info.first {
  border-right: solid 1px #ffffff;
  padding-right: 4em;
}

.results-section .results-info.second {
  padding-left: 4em;
}

.results-section .content {
  text-align: left;
  color: #ffffff;
  padding: 0 1%;
}

.results-section .content h3 {
  color: #ae854e;
  font-size: 2.5em;
  font-weight: 600;
}

.results-section .content h4 {
  color: #ae854e;
  font-size: 3em;
  font-weight: 600;
}

.results-section .content h4 em {
  font-style: normal;
  font-weight: 300;
}

.results-list {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.results-list li {
  background-color: #ffffff;
  flex: 0 1 46%;
  margin: 2% auto;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.results-list li h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 1em;
}

.results-list li h2:after {
  content: '';
  width: 50%;
  height: 2px;
  left: 25%;
  position: absolute;
  background-color: #ae854e;
  bottom: -0.5em;
}

.results-list li h4 {
  color: #ae854e;
  text-transform: uppercase;
}

.results-list li .hover {
  background-color: #ae854e;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  transition: 0.5s ease-in;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
}

.results-list li:hover .hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.results-list li .hover h4 {
  position: relative;
  color: #ffffff;
  margin-bottom: 1em;
}

.results-list li .hover h4:after {
  content: '';
  width: 50%;
  height: 2px;
  left: 25%;
  position: absolute;
  background-color: #ffffff;
  bottom: -0.5em;
}

.value-section {
  padding: 8em 2%;
}

.value-section .box {
  justify-content: space-between;
  align-items: center;
}

.value-section .content {
  flex: 0 1 50%;
}

.value-section .content > .box {
  font-style: italic;
  margin: 2em 0;
  align-items: flex-start;
}

.value-section .content .btn-container {
  flex: 0 1 50%;
  text-align: right;
}

.value-section .box .quote {
  font-size: 1.25em;
  flex: 0 1 60%;
}

.value-section .box .btn-container {
  font-style: normal;
}

.value-section .box .quote em {
  display: block;
  margin: 1.5em 0;
  line-height: 1.25em;
  position: relative;
  padding-left: 1em;
}

.value-section .box .quote em:before {
  content: '-';
  position: absolute;
  left: 0;
}

.value-section .box .quote em strong {
  display: block;
}

.value-list {
  flex: 0 1 40%;
}

.value-list li {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 4em 0;
}

.value-list li icon {
  font-size: 5em;
  text-align: center;
  color: #ae854e;
}

.value-list li h4 {
  flex: 0 1 70%;
  font-size: 1.75em;
}

.contact-news-section {
  border: solid 1em #ffffff;
  background-color: #123655;
  position: relative;
}

.contact-news-section:before {
  content: '';
  width: 45%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  top: 0;
}

.contact-news-section > .box {
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.contact-box {
  background-color: #123655;
  position: relative;
  padding: 1.5em 10% 1.5em 0;
  color: #ffffff;
  flex: 0 1 60%;
  overflow: visible;
}

.contact-box header.fancy {
  border-bottom: solid 2px #ffffff;
}

.contact-box .box {
  justify-content: space-between;
  margin: 2em auto;
  align-items: flex-start;
}

.contact-box .box > div {
  flex: 0 1 48%;
  line-height: 2em;
}

.contact-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.contact-form fieldset li {
  position: relative;
}

.contact-form .hide {
  display: none;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  color: #ffffff;
  padding: 0.75em;
  margin-bottom: 0.5em;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  border: solid 1px #0b2338;
  background-color: #0b2338;
  transition: border-color 0.35s ease;
}

.contact-form select {
  display: block;
  width: 100%;
  color: #ffffff;
  padding: 0.75em;
  margin-bottom: 0.5em;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  border: solid 1px #0b2338;
  background-color: #0b2338;
  transition: border-color 0.35s ease;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

.contact-form textarea {
  min-height: 5em;
  overflow: auto;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus,
.contact-form .dropdown-label.active {
  border-color: #ec602e;
}

.contact-form .validation {
  position: absolute;
  left: 0;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  z-index: 2;
  color: #f2f2f2;
  font-size: 0.8em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  transition: 0.25s;
  white-space: nowrap;
}

.contact-form .validation:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left: solid 0.5em transparent;
  border-right: solid 0.5em transparent;
  border-bottom: solid 0.5em rgba(0, 0, 0, 0.8);
  bottom: 100%;
  left: 1em;
}

.contact-form .btn {
  width: 100%;
}

.blogfeed-box {
  background-color: #ffffff;
  align-self: center;
  padding: 2em 0%;
  flex: 0 1 30%;
}

.blogfeed-box header {
  border-bottom: solid 2px #b4b4b4;
  padding: 1em 0;
}

.blogfeed-box header h2 {
  color: #ae854e;
  font-weight: 600;
  text-transform: uppercase;
}

.blogfeed-box ul {
}

.blogfeed-box ul li {
  padding: 2em 0;
  border-bottom: solid 2px #b4b4b4;
  line-height: 2em;
}

.blogfeed-box ul li a {
  position: relative;
  padding-right: 2.2em;
  display: block;
}

.blogfeed-box ul li a .date {
  color: #b4b4b4;
  font-weight: 600;
}

.blogfeed-box ul li a .text h3 {
  font-weight: 700;
  color: #0b2338;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.blogfeed-box .btn-container {
  text-align: center;
  margin: 2em 0;
}

.sbc {
  position: relative;
  padding-bottom: 12%;
  background-size: cover;
  background-position: top center;
  height: 35.375em;
}

.sbc:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(204, 204, 204, 0)
  );
  z-index: 1;
}

.sbc > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sbc .main {
  position: relative;
  z-index: 3;
  padding: 0;
}

.sbc .sbc-text {
  padding: 10%;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  max-width: 70%;
  line-height: 2em;
  float: left;
}

.sbc .sbc-text h1 {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4em;
}

.content-one {
}

.cont-over .main.box {
  padding-left: 0;
  padding-right: 0;
}

.cont-over .content-panel.overlap {
  padding: 3em 3em 0 3em;
}

.cont-over .top-img,
.cont-over .bottom-img {
  align-self: center;
  position: relative;
  margin: 3em 0;
}

.content-boxes .img-chk span {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 68%;
  position: relative;
}

.content-boxes .img-chk span:before {
  content: '';
  width: 95%;
  height: 95%;
  position: absolute;
  background-color: #ffffff;
  top: -1em;
  box-shadow: 2px -2px 0em 2px #b4b4b4;
  right: -1em;
}

.content-boxes .img-chk span img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.content-two {
  margin-top: 4em;
}

.banner-img-two {
  background-position: top center;
  padding-bottom: 15%;
  background-size: cover;
  background-repeat: no-repeat;
}

.subblank-cont {
  padding: 3em 0;
}

.atty-list {
  padding: 2em 0;
}

.box-list {
  padding: 2em 0;
}

.box-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-list ul li {
  flex: 0 1 33.3%;
  padding: 2em;
}

.box-list ul li a {
  display: block;
  border-left: solid 2px #b4b4b4;
  border-bottom: solid 2px #b4b4b4;
}

.box-list ul li .pic-box {
  position: relative;
  margin: 0em 0 1em 1.5em;
}

.box-list ul li .pic-box:before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  transition: 0.5s ease;
  bottom: 0;
}

.box-list ul li a:hover .pic-box:before {
  height: 100%;
}

.box-list ul li .pic-box img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
  height: 0;
  padding-bottom: 68%;
}

.box-list ul li .pic-box .btn {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  margin: auto;
  -webkit-transition: 0.5s ease;
  -moz--transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}

.box-list ul li a:hover .pic-box .btn {
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: #ec602e;
}

.box-list ul li .info-btn {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: #0b2338;
  margin: 0 0 0.5em 1em;
}

.main-contain {
  padding-top: 5rem;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.main-contain .sidebox {
  flex: 0 1 75%;
  order: 2;
}

.bloghome {
  padding-right: 25%;
}

.blog.item {
  margin-top: 2em;
}

.blog.item h2 {
  font-weight: 600;
  font-size: 1.75em;
  margin: 0.5em 0;
}

.blog.item h2 a {
  color: #ae854e;
}

.blog.item .content {
  color: #0b2338;
}

.blog.item .byline {
  display: block;
  justify-content: space-between;
  font-size: 1em;
  color: #ec602e;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.blog.item .byline div {
  float: left;
}

.blog.item .byline span {
  color: #b4b4b4;
}

.blog.item .byline a {
  text-transform: none;
  letter-spacing: 0;
  float: right;
}

.blog.item .byline:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}

div.blog div.divider {
  margin: 0.75em 0px;
  clear: both;
  border-bottom: solid 2px #b4b4b4;
}

.res-item.info {
  margin: 2em auto;
}

.res-item.info h3.value {
  font-size: 2.5em;
}

.res-item.info .btn-container {
  margin: 1em auto;
}

.atty-header .box {
  justify-content: space-between;
  width: 100%;
}

.atty-header .atty-img {
  flex: 0 1 25%;
  position: relative;
  width: 25%;
}

.atty-header .atty-img img {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.atty-header .atty-info {
  flex: 0 1 72%;
  border-bottom: solid 2px #b4b4b4;
  padding: 3em 30% 0em 1%;
  color: #0b2338;
  width: 72%;
}

.atty-header .atty-info h1 {
  text-transform: uppercase;
  color: #ae854e;
  font-weight: 600;
}

.atty-header .atty-info h3 {
  font-size: 1.5em;
  color: #ae854e;
  letter-spacing: 0.2em;
  margin: 0.25em 0;
  text-transform: uppercase;
}

.atty-body .box {
  justify-content: space-between;
  display: -ms-flex;
  display: flex;
}

.atty-body .atty-tabs {
  flex: 0 1 25%;
  background-color: #2f2f2f;
  border: solid 1 em #ffffff;
  padding: 3em;
  width: 25%;
}

.atty-body-content {
  flex: 0 1 72%;
  padding-right: 25%;
}

.atty-body-content > div {
  display: none;
}

.atty-body-content > div.active {
  display: block;
}

.video-spotlight {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.test-sys {
  padding-top: 2em;
}

.test-sys .article small {
  display: none;
}

.test-sys ul.main {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
}

.test-sys ul.main li {
  flex: 0 1 46%;
  border-left: solid 2px #b4b4b4;
  border-bottom: solid 2px #b4b4b4;
  margin: 2em 2%;
  padding: 0 1% 1em 1em;
  transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
}

/* .test-sys ul.main li:nth-child(odd) {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.test-sys ul.main li:nth-child(even) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.test-sys ul.main li.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
} */

.test-sys ul.main li .review h2 {
  font-style: italic;
  font-size: 1.75em;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.test-sys ul.main li .test-info {
  color: #0b2338;
  margin: 1.5em 0;
  font-size: 0.75em;
  line-height: 2em;
}

.test-sys ul.main li .test-info em {
  display: block;
  font-style: normal;
  margin-left: 1em;
}

.main-contain .side-container {
  flex: 0 1 25%;
  order: 1;
  background-color: #f4f8f8;
  margin: 2em 1em 0 1em;
}

.side-nav {
}

.sys-nav {
  border-top: solid 1em #ffffff;
}

.side-nav header {
  background-color: #123655;
  color: #ffffff;
  margin-bottom: 0.75em;
}

.side-nav header h2 {
  margin: 0;
  text-align: center;
  line-height: 1.2em;
  padding: 0.75em 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  font-size: 2em;
}

.side-nav header h2 a {
  color: #ffffff;
}

.side-nav ul {
  margin: 0;
}

.side-nav ul li {
  margin: 0 0 0.75em;
  width: 100%;
  padding: 0 1.5em;
}

.side-nav ul > li > ul > header {
  display: none;
}

.side-nav ul li a {
  display: block;
  margin: 0;
  line-height: 1.5em;
  color: #ec602e;
  position: relative;
  transition: 0.5s ease;
  padding: 0.75em 1em 0.75em 1em;
  font-weight: 700;
  border-left: solid 2px #b4b4b4;
  border-bottom: solid 2px #b4b4b4;
  text-align: center;
}

.side-nav ul li a:hover,
.side-nav ul li.selected a {
  background-color: #123655;
  color: #ffffff;
}

.side-nav ul li.expand > a:before {
  transition: 0.5s ease;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  height: 1em;
  right: 0.5em;
  top: 50%;
  position: absolute;
  font-size: 1em;
  width: 1em;
  color: #b4b4b4;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.side-nav ul li a:hover:before,
.side-nav ul li.selected a:before {
}

.side-nav ul li.expand > .menu {
  transition: opacity 1.5s ease, max-height 1s ease;
  max-height: 0;
  padding: 0 1em;
  visibility: hidden;
  opacity: 0;
}

.side-nav ul li.expand:hover > .menu {
  max-height: 100em;
  visibility: visible;
  opacity: 1;
  padding: 0.5em 1em;
}

.side-nav ul li.expand:hover > a:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
}

/* .mobile-menu nav ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  color: $white;
  position: absolute;
  font-size: 1.5em;
  left: 0.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  top: 0.875em;
}

.mobile-menu nav > ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  display: none;
} */

.practice-nav ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 0.7em;
  color: #ec602e;
  margin: auto auto auto 1em;
  transition: margin-left 0.5s ease;
}

.foot-links header:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f067';
  position: absolute;
  right: 2em;
  top: 50%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.foot-links header:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f067';
  position: absolute;
  right: 2em;
  top: 50%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.5s ease 0s;
}

.foot-links ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  color: #ec602e;
  font-size: 0.7em;
  margin: auto auto auto 1em;
  transition: margin-left 0.5s ease;
}

.foot-links ul li a:hover:after {
  margin-left: 2em;
}

icon.fontello {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  display: inline-block;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
}

.fontello.money-recovered:before {
  content: '\f555';
}

.fontello.trial-lawyers:before {
  content: '\f0e3';
}

.fontello.excellence:before {
  content: '\f521';
}

.fontello.dedicated:before {
  content: '\f441';
}

.contact-form fieldset .input-text:after,
.contact-form fieldset .input-text:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: block;
  position: absolute;
  top: 0.85em;
  right: 0.85em;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  line-height: 1.6;
}

.contact-form fieldset .input-text:before {
  content: '\f00d';
  color: #ff070b;
}

.contact-form fieldset .input-text:after {
  content: '\f00c';
  color: #22c022;
}

.blogfeed-box ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  color: #ec602e;
  transition: 0.5s ease;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
}

.blogfeed-box ul li a:hover:after {
  right: 0;
}

@media screen and (max-width: 1600px) {
  .atty-body-content,
  .atty-header .atty-info {
    padding-right: 2%;
  }
}

@media screen and (max-width: 1500px) {
  .animation {
    font-size: 1vw;
  }
  .schema-link-section .box {
    padding: 0 1.5%;
  }
  .contact-box {
    padding: 1.5em 10% 1.5em 1.5%;
  }
  .atty-body .atty-tabs {
    padding: 2em 1%;
  }
  .atty-body .atty-tabs .btn {
    font-size: 1em;
  }
  .sbc .sbc-text {
    padding-left: 3em;
  }
}

@media screen and (max-width: 1350px) {
  .info {
    padding-left: 1%;
  }
}

@media screen and (max-width: 1300px) {
  .prac-acco-section .box {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1280px) {
  .info h1,
  .info h2 {
    padding-left: 1.5%;
  }
  .content-panel.animate-cont {
    font-size: 1.25em;
  }
  .full {
    font-size: 1em;
  }
  .desktop-nav {
    background-color: #0b2338;
    border-top: solid 2px #ae854e;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: all 1s ease;
    padding: 0 1em;
  }
  .open .desktop-nav {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .trig-wrap {
    display: flex;
    flex: 1 1 auto;
  }
  .wide-cta {
    font-size: 1em;
  }
  .practice-nav {
    padding: 2%;
    flex: 0 1 65;
  }
  .masthead .contact-info {
    flex: 0 1 22%;
  }
  .masthead > a.search-trigger {
    text-align: center;
    flex: 0 1 5%;
  }
  .accolades {
    padding: 2%;
    flex: 0 1 33%;
  }
  .content-panel.overlap {
  }
  .contact-news-section .contact-box {
    padding: 1.5em 10% 1.5em 2%;
  }
  .contact-news-section > .box {
    justify-content: space-around;
  }
  .top-nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 1s;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .top-nav.open {
    max-height: 20em;
    overflow: visible;
    max-width: 100%;
  }
  .content-panel {
    font-size: 1em;
  }
  .practice-nav ul {
    font-size: 1.25em;
  }
  .contact-news-section {
    border: none;
  }
}

@media screen and (max-width: 1200px) {
  .info {
    max-width: 100%;
  }
  .animation {
    font-size: 1vw;
  }
  .prac-acco-section {
    padding: 0em 0 18em 0;
  }
  .admin-list {
    padding: 0 2%;
  }
  .admin-list-ul li {
    flex: 0 1 48%;
  }
  .atty-header .atty-img {
    flex: 0 1 45%;
    width: 45%;
  }
  .atty-header .atty-info {
    flex: 0 1 50%;
    width: 50%;
  }
  .atty-body .atty-tabs {
    padding: 2%;
  }
  .box-list ul li,
  .admin-list ul li {
    flex: 0 1 48%;
  }
  .main.short {
    padding: 0 1%;
  }
}

@media screen and (max-width: 1150px) {
  .results-section .content h4 {
    font-size: 2.5em;
  }
  .results-section .results-info.first {
    padding-right: 2em;
  }
  .results-section .results-info.second {
    padding-left: 2em;
  }
  .results-section .main > .box {
    padding: 4em 2%;
  }
}

@media screen and (max-width: 1020px) {
  .animation {
    font-size: 1em;
    height: auto;
  }
  .info {
    max-width: 100%;
    text-align: center;
  }
  .info h1,
  .info h2 {
    font-size: 3.12em;
    text-align: center;
    padding-left: 0;
  }
  .info h2 {
    padding-bottom: 10%;
  }
  .info h2 em:after {
    display: none;
  }
  .info h3 {
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 10%;
  }
  .slide,
  .animate-cont {
    position: relative;
  }
  .prac-acco-section .box {
    display: block;
  }
  .prac-acco-section {
    padding: 2em 2%;
  }
  .landing .prac-acco-section {
    padding-bottom: 2em;
  }
  .practice-nav {
    margin-bottom: 1em;
  }
  .content-panel.overlap {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 0;
    padding: 1em;
  }
  .wide-cta-section .btn-wrap {
    padding: 0 2em;
    text-align: center;
  }
  .wide-cta-section {
    padding: 1em 0;
  }
  .award-list ul {
    flex-wrap: nowrap;
  }
  .award-list ul li {
    padding: 0.5em;
  }
  .content-panel {
    font-size: 1em;
  }
  .content-panel h2 {
    letter-spacing: 0;
  }
  .value-section .box {
    display: block;
  }
  .value-section .box .btn-container {
    text-align: center;
  }
  .contact-news-section > .box {
    display: block;
  }
  .schema,
  .middle-foot,
  .foot-links {
    flex: 0 1 30%;
  }
  .main-contain .sidebox {
    padding: 1em;
  }
  .two-thirds {
    width: auto;
  }
  .third {
    width: auto;
  }
  .cont-over .main.box {
    display: block;
  }
  .cont-over .top-img,
  .cont-over .bottom-img {
    margin: 3em 8%;
  }
  .practice-nav ul {
    margin: 1em 0;
  }
  .blogfeed-box {
    padding: 2em 2%;
  }
  .news-articles-woodmore ul li {
    width: 48%;
  }
  .news-articles-woodmore ul {
    justify-content: center;
  }
  .csg .res-item {
    width: 96%;
    float: none;
  }
  .atty-body .box {
    display: block;
  }
  .atty-body .atty-tabs {
    position: relative;
    text-align: center;
    flex: 0 1 100%;
    width: 100%;
  }
  .atty-body .atty-tabs:after {
    display: block;
    content: '';
    clear: both;
  }
  .atty-body .atty-tabs .btn {
    display: inline-block;
    margin: 1%;
    border: solid 2px #b4b4b4;
  }
  .atty-body-content {
    padding: 2%;
  }
  .sub .contact-box {
    padding: 1.5em 2%;
  }
  .sbc {
    height: auto;
  }
  .sbc .sbc-text {
    max-width: 99%;
  }
  .about-steps .main.box,
  .about-steps.cont-over .content-panel.overlap {
    flex-wrap: wrap;
    padding: 1em;
    display: flex !important;
  }
  .about-steps .main.box .two-thirds {
    flex: 0 1 100%;
    order: 2;
  }
  .about-steps .main.box .third {
    flex: 0 1 100%;
    order: 1;
  }
  .sub .content-two {
    margin-top: auto;
  }
  .thank-you .box .ty-cont {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 950px) {
  .top-nav.open {
    max-height: none;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-menu nav {
    display: block;
  }
  .trig-wrap {
    width: 30%;
  }
  .full {
    font-size: 1em;
  }
  .top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: none;
    height: 100%;
    background-color: rgba(11, 35, 56, 0.9);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0.5s ease;
    z-index: 20;
    max-width: 100% !important;
  }
  .top-nav.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .thank-you .box {
    display: block;
  }
  .thank-you .box .img-section {
    padding-bottom: 48%;
  }
}

@media screen and (max-width: 900px) {
  .content-panel.animate-cont {
    font-size: 1em;
  }
}

@media screen and (max-width: 850px) {
  .midcont-section .box {
    display: block;
    text-align: center;
  }
  .midcont-section .mid-img {
    padding: 2em 2% 0 2%;
  }
  .results-section .box {
    display: block;
    text-align: center;
  }
  .results-section .content {
    text-align: center;
  }
  .results-section .results-info.second {
    padding-left: 0;
  }
  .results-section .results-info.first {
    padding-right: 0;
    border-right: none;
  }
  .value-section,
  .landing .value-section {
    padding: 1em 2%;
  }
  .results-section {
    padding: 1em 2%;
  }
  .schema-link-section > .box {
    display: block;
    text-align: center;
  }
  .soc-links {
    max-width: 400px;
  }
  .main-contain {
    display: block;
  }
  .midcont-section .cont-wrap .content-panel .btn {
    margin-top: 0;
  }
  .results-section .main > .box {
    padding: 0;
  }
  .bloghome {
    padding-right: 2%;
  }
  .test-sys ul.main li {
    flex: 0 1 99%;
  }
}

@media screen and (max-width: 800px) {
  .animation {
  }
  .contact-pg .box {
    display: block;
  }
  .contact-pg .box .contact-form {
    margin-bottom: 2em;
  }
  .sbc .sbc-text h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 0.5em;
    color: #ec602e;
  }
}

@media screen and (max-width: 700px) {
  .trig-wrap {
    width: auto;
    flex: 0 1 auto;
    margin: auto;
  }
  .masthead .contact-info a {
    display: block;
    font-size: 1.5em;
  }
  .menu-trigger {
    margin-right: auto;
  }
  .practice-nav ul {
    display: block;
    text-align: center;
    font-size: 1.25em;
  }
  .practice-nav ul li {
    border-left: none;
  }
  .value-list li h4 {
    font-size: 1.25em;
  }
  .value-list li {
    margin: 1em 0;
  }
  .contact-news-section .contact-box {
    padding: 1.5em 2%;
  }
  .contact-news-section .contact-box .box {
    display: block;
  }
  header.fancy h3,
  .results-section .content h3,
  .practice-nav h3 {
    font-size: 1.75em;
  }
  header.fancy h4,
  .results-section .content h4 {
    font-size: 2em;
  }
  .search-bar input {
    width: 80%;
    border-radius: 50px;
    background-color: #ffffff;
    color: #ae854e;
    padding: 0.2em 0.4em;
  }
  .case-types {
    display: block;
  }
  .searchbox {
    margin: 1em;
  }
  .res-item {
    padding: 0 2%;
  }
  .atty-header .atty-info {
    padding: 2em 2%;
  }
  .test-sys ul.main li .review h2 {
    font-size: 1.25em;
  }
  .test-sys ul.main li {
    padding: 0 0% 1em 0em;
  }
  .test-sys ul.main li blockquote {
    margin: 0 5%;
  }
  .sub-form-section .contact-form {
    display: block;
  }
  .sub-form-section .contact-form .submit-btn {
    margin-left: auto;
  }
  .box-list ul li,
  .admin-list {
    flex: 0 1 99%;
  }
  .cont-over .content-panel.overlap,
  .wide.content-panel {
    padding: 0 1em;
  }
  .sbc:before {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .info h2 {
    padding-bottom: 10%;
  }
  .slide .info .btn {
    display: block;
  }
  .accolades {
    display: none;
  }
  .footer-section .sd-footer .box {
    display: block;
    text-align: center;
  }
  .footer-section .sd-footer .box small {
    text-align: center;
    flex: 0 1 auto;
  }
  .menu-trigger {
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.75em;
  }
  .masthead .top-logo {
    flex: 1 1 auto;
  }
  .masthead > a.search-trigger {
    display: none;
  }
  .trig-wrap {
    flex: 1 1 auto;
  }
  .masthead .contact-info {
    flex: 0 1 auto;
    padding-right: 1%;
  }
  .masthead .contact-info a.phone-number {
    display: none;
  }
  .masthead .contact-info .mob-phone {
    display: block;
    border: solid 2px #ec602e;
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
  }
  .masthead .contact-info a.mobphone-number {
    display: block;
    color: #ffffff;
    padding: 0.2em;
  }
  .masthead .contact-info a.mobphone-number icon {
    color: #ffffff;
    display: block;
    font-size: 1.1em;
  }
  .content-panel h1 {
    font-size: 1.75em;
  }
  .contact-box header.fancy {
    text-align: center;
  }
  .practice-nav {
    padding: 2em 2%;
  }
  .value-section .box .quote {
    display: none;
  }
  .value-section .box .btn-container {
    text-align: center;
  }
  .foot-links {
    padding: 0 1em;
  }
  .foot-links header {
    display: block;
    background-color: #ec602e;
  }
  .foot-links header h2 {
    color: #ffffff;
  }
  .foot-links.open header:after {
    opacity: 0;
  }
  .foot-links.open header:before {
    opacity: 1;
  }
  .foot-links ul {
    max-height: 0;
    transition: 0.5s ease;
    overflow: hidden;
  }
  .foot-links.open ul {
    max-height: 50em;
  }
  .csg {
    display: block;
  }
  .sub .staff-list header.fancy {
    padding: 0 0.5em;
  }
  .admin-list ul li {
    flex: 0 1 99%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }
  ul.bullet-list-1 {
    display: block;
  }
  .sbc .sbc-text h1 {
    font-size: 1.75em;
  }
  .sbc .sbc-text {
    padding-left: 2%;
  }
  .contact-pg {
    padding: 0;
  }
  .contact-pg .main {
    padding: 1em;
  }
  .contact-pg .main .content-panel > p {
    display: none;
  }
  .sub-form-section .btn-container {
    text-align: center;
  }
  body.sub .sub-form-section {
    border: none;
    padding: 0;
  }
  .sub .contact-box {
    padding: 1em;
  }
  .sub.contact-us .sub-form-section .btn-container {
    display: none;
  }
  .sub.contact-us .sub-form-section .contact-form {
    max-height: 500px;
  }
  .sub.contact-us .sub-form-section .contact-form li {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .sub.contact-us .sub-form-section .contact-form .submit-btn {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .contact-pg .box > .content {
    font-size: 1.25em;
  }
  .sub-form-section .contact-box .contact-form.box {
    margin: 0;
  }
  .sub-form-section.open .contact-box .contact-form.box {
    margin: 2em auto 1em;
  }
  .about-steps .box .third {
    display: none;
  }
  .about-steps > section {
    padding: 0;
  }
  .about-steps .sec-1 {
    padding: 0 !important;
  }
  .contentlist {
    padding: 0 0.5em;
  }
  .content-panel.contentlist > li > h3 {
    padding: 0.5em 2.5em 0.5em 1em;
  }
  .contact-pg .box .contact-form {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .animation {
  }
  .info {
  }
  .info h2 {
    letter-spacing: 0;
  }
  .animate-cont {
    position: relative;
    padding: 1em 2% 0 2%;
  }
  .results-list li {
    flex: 0 1 96%;
  }
  .cont-over .content-panel.overlap u {
    font-size: 1.25em;
  }
  .wide-cta-section .btn-wrap .btn {
    display: block;
    margin: 1em auto;
  }
  .results-list,
  .results-section .results-info.second {
    display: none;
  }
  .contact-news-section {
    border: none;
  }
  .contact-news-section .contact-box,
  .blogfeed-box {
    padding: 0.5em 5%;
  }
  .blogfeed-box ul li {
    display: none;
  }
  .blogfeed-box ul li:first-child {
    display: block;
  }
  .blogfeed-box ul li a {
    padding-right: 2em;
  }
  .social.box li {
    flex: 0 1 20%;
  }
  .contact-news-section #ContactFormContent {
    display: none;
  }
  .news-articles-woodmore ul li {
    width: 100%;
  }
  .atty-body .atty-tabs .btn {
    display: block;
  }
  .atty-header .box {
    flex-wrap: wrap;
  }
  .atty-header .atty-img {
    flex: 0 1 100%;
  }
  .atty-header .atty-info {
    flex: 0 1 100%;
  }
  .atty-body-content {
    padding: 0 5%;
  }
  .blog.item h2 {
    font-size: 1.5em;
  }
  .blog.item h1 {
    font-size: 1.5em;
  }
  .box-list ul li a {
    height: 11em;
    margin: 0.5em;
  }
  .box-list ul li .pic-box {
    margin: 0 0 0.5em 0.5em;
  }
  .box-list ul li .pic-box:before {
    display: none;
  }
  .box-list ul li .info-btn {
    font-size: 1em;
    margin: 0 0 0.5em 0.5em;
  }
  .box-list ul li .pic-box .btn {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1em;
    padding: 0.5em;
    display: none;
  }
  .box-list ul li {
    flex: 0 1 50%;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .animation {
  }
  .info h2 {
    font-size: 2.75em;
  }
  .info h3 {
    font-size: 1.75em;
  }
  .cont-over .content-panel.overlap u {
  }
  .info {
    padding-left: 0;
  }
  .wide-cta p img {
    width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 400px) {
  .info h2 {
    font-size: 2.5em;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .practice-nav {
    padding: 3%;
    flex: 0 1 50%;
  }
  nav.top-nav {
    flex: 1 1 60%;
  }
  select::-ms-expand {
    display: none;
  }
  .practice-nav ul,
  .results-list {
    display: inline-block;
  }
  .practice-nav ul li {
    padding: 0.5em 0em 0.5em 0.5em;
    float: left;
    width: 50%;
  }
  .results-list li {
    height: 12em;
    float: left;
    width: 46%;
    margin: 2% 4% 2% 0;
  }
  .accolades {
    padding: 3%;
    flex: 0 1 30%;
  }
  .contact-box {
    flex: 0 1 50%;
  }
  .blogfeed-box ul li a {
    padding-right: 2em;
  }
  .box-list ul li {
    flex: 0 1 30%;
    padding: 1em;
  }
  .test-sys ul.main li {
    margin: 2em 0;
    flex: 0 1 43%;
  }
  .csg .res-item {
    margin: 2em 1%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .atty-header .atty-img {
    flex: 0 1 32%;
  }
  .atty-header .atty-info {
    padding: 3em 30% 0em 1%;
  }
  .csg .res-item {
    flex: 0 1 43%;
  }
}
