.section-intro {
  @include container;

  @include respond(tab-port) {
    @include fullContainer;
  }

  &__content {
    background-color: $color-white;
    padding: 10rem 0;

    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
}

.section-pitch {
  @include fullContainer;

  &__content {
    padding: 5rem 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.section-services {
  background-color: $color-grey-light-2;
  @include fullContainer;

  &__content {
    @include container;
    color: $color-secondary-dark;
    padding: 10rem 0;

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
    }

    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
}

.section-portfolio {
  @include container;

  @include respond(tab-port) {
    @include fullContainer;
  }

  &__content {
    background-color: $color-white;
    color: $color-black;
    padding-top: 5rem;

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

.section-testimony {
  @include fullContainer;

  &__content {
    padding: 5rem 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.section-biography {
  @include container;

  @include respond(tab-port) {
    @include fullContainer;
  }

  &__content {
    background-color: $color-white;
    padding: 10rem 0;

    @include respond(tab-port) {
      padding: 5rem 0;
    }

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
      color: $color-primary;
    }
  }
}

.section-blog {
  background-color: $color-grey-light-2;
  @include fullContainer;

  &__content {
    @include container;
    color: $color-secondary-dark;
    padding: 10rem 0;

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
    }

    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
}

.section-contact {
  @include fullContainer;
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  &__content {
    @include container;
  }
}
