
/*
  Theme Name: Film Gallery Portfolio
  Author: Dan Branda
  Version: 1.0
*/
/* 3rd party package */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* SASS and Globals */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.fullrow {
  margin: 0; }
  .fullrow::after {
    content: '';
    display: table;
    clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.8rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.4rem; } }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  border-bottom: 5px solid #28b485; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary__white {
    background-image: none;
    color: #fff;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary__primary-color {
    background-image: none;
    color: #55c57a;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary__secondary-dark {
    background-image: none;
    color: #ff7730;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary__white {
    color: #fff; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph__white {
    color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/* Base Components */
nav {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
  border: none;
  min-height: 6rem;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  line-height: 0; }
  nav::after {
    content: '';
    display: table;
    clear: both; }

.navbar {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 5rem; }
  .navbar::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      padding-left: 0; } }
  .navbar__header {
    width: 20%; }
  .navbar__wrapper {
    float: left;
    position: relative;
    min-height: 1px;
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: none; }
    .navbar__wrapper::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 75em) {
      .navbar__wrapper {
        display: none; } }
  .navbar__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    float: none;
    display: inline-block; }
    .navbar__list::after {
      content: '';
      display: table;
      clear: both; }
    .navbar__list li {
      position: relative;
      display: block;
      float: left; }
      .navbar__list li a {
        text-decoration: none;
        outline: none;
        position: relative;
        display: block;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        padding: 0 2rem;
        line-height: 9rem;
        color: #fff;
        font-size: 1.3rem;
        letter-spacing: 0.02em;
        font-weight: 700;
        transition: all 0.3s ease-in-out; }
        .navbar__list li a:hover {
          color: #55c57a !important; }
  .navbar__social {
    width: 20%;
    float: right;
    padding: 0 1.5rem; }
    .navbar__social::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 75em) {
      .navbar__social {
        display: none; } }
  .navbar__social-list {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar__social-list li {
      display: inline-block; }
      .navbar__social-list li a {
        font-size: 1.6rem;
        line-height: 9rem;
        margin-left: 2.2rem;
        color: #fff;
        border-bottom: 1px solid #fff;
        transition: all 0.3s ease-in-out; }
        .navbar__social-list li a:hover {
          color: #55c57a;
          border-color: #55c57a; }

.logo {
  padding: 0 1.5rem;
  float: left; }
  @media only screen and (max-width: 56.25em) {
    .logo {
      padding-left: 0; } }
  .logo a {
    height: 9rem;
    transition: all 0.3s ease-in-out; }
    .logo a img {
      transition: all 0.3s ease-in-out;
      height: 6.6rem;
      padding-top: calc((9rem - 6.6rem) / 2); }
      @media only screen and (max-width: 75em) {
        .logo a img {
          padding-top: 0; } }

.nav-mobile {
  display: none; }
  @media only screen and (max-width: 75em) {
    .nav-mobile {
      display: block; } }
  .nav-mobile__checkbox {
    display: none; }
  .nav-mobile__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    right: 6rem;
    border-radius: 10%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .nav-mobile__button {
        right: 4rem;
        top: 0.75rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav-mobile__button {
        right: 3rem; } }
  .nav-mobile__background {
    height: 4rem;
    width: 4rem;
    border-radius: 10%;
    position: fixed;
    right: 6.5rem;
    top: 1.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubiz-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .nav-mobile__background {
        right: 4.5rem;
        top: 1.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav-mobile__background {
        right: 3.5rem; } }
  .nav-mobile__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .nav-mobile__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7; }
  .nav-mobile__item {
    margin: 1rem; }
  .nav-mobile__link:link, .nav-mobile__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s; }
    .nav-mobile__link:link span, .nav-mobile__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .nav-mobile__link:hover, .nav-mobile__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .nav-mobile__social {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav-mobile__social ul {
      list-style: none;
      font-weight: 400;
      line-height: 1.7; }
      .nav-mobile__social ul li {
        display: inline-block;
        float: left;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem; }
        .nav-mobile__social ul li a {
          font-size: 3rem;
          color: #fff;
          border-bottom: 1px solid #fff;
          transition: all 0.3s ease-in-out;
          margin-left: 1rem;
          margin-right: 1rem; }
        .nav-mobile__social ul li:hover {
          background-color: #fff; }
          .nav-mobile__social ul li:hover a {
            color: #55c57a;
            border-color: #55c57a; }
  .nav-mobile__checkbox:checked ~ .nav-mobile__background {
    transform: scale(80); }
  .nav-mobile__checkbox:checked ~ .nav-mobile__nav {
    opacity: 1;
    width: 100%; }
  .nav-mobile__icon {
    position: relative;
    margin-top: 2.5rem; }
    .nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .nav-mobile__icon::before, .nav-mobile__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav-mobile__icon::before {
      top: -0.8rem; }
    .nav-mobile__icon::after {
      top: 0.8rem; }
  .nav-mobile__button:hover .nav-mobile__icon::before {
    top: -1rem; }
  .nav-mobile__button:hover .nav-mobile__icon::after {
    top: 1rem; }
  .nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon {
    background-color: transparent; }
  .nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    position: relative;
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__social {
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%); }
    .footer__social::after {
      content: '';
      display: table;
      clear: both; }
  .footer__social-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__social-list li {
      display: inline-block;
      float: left;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem; }
      .footer__social-list li a {
        font-size: 1.6rem;
        line-height: 9rem;
        margin-left: 2.2rem;
        border-bottom: 1px solid #f7f7f7; }
        .footer__social-list li a:link, .footer__social-list li a:visited {
          color: #f7f7f7;
          background-color: #333;
          transition: all 0.3s ease-in-out; }
        .footer__social-list li a:hover, .footer__social-list li a:active {
          color: #55c57a;
          border-color: #55c57a;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
    .footer__navigation ul {
      list-style: none; }
      .footer__navigation ul li {
        display: inline-block; }
        .footer__navigation ul li:not(:last-child) {
          margin-right: 1.5rem; }
        .footer__navigation ul li a:link, .footer__navigation ul li a:visited {
          color: #f7f7f7;
          background-color: #333;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          transition: all 0.2s; }
        .footer__navigation ul li a:hover, .footer__navigation ul li a:active {
          color: #55c57a;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.section-intro {
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .section-intro {
      padding: 0; } }
  .section-intro__content {
    background-color: #fff;
    padding: 10rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-intro__content {
        padding: 5rem 0; } }

.section-pitch {
  padding: 0; }
  .section-pitch__content {
    padding: 5rem 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  @media only screen and (max-width: 56.25em) {
    .section-pitch {
      display: none; } }

.section-services {
  background-color: #eee;
  padding: 0; }
  .section-services__content {
    padding: 3rem;
    color: #ff7730;
    padding: 10rem 0; }
    .section-services__content h3 {
      font-size: 2rem;
      text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .section-services__content {
        padding: 5rem 0; } }

.section-portfolio {
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .section-portfolio {
      padding: 0; } }
  .section-portfolio__content {
    background-color: #fff;
    color: #000;
    padding-top: 5rem; }
    .section-portfolio__content h3 {
      font-size: 2rem;
      text-transform: uppercase; }

.section-testimony {
  padding: 0; }
  .section-testimony__content {
    padding: 5rem 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }

.section-biography {
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .section-biography {
      padding: 0; } }
  .section-biography__content {
    background-color: #fff;
    padding: 10rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-biography__content {
        padding: 5rem 0; } }
    .section-biography__content h3 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #55c57a; }

.section-blog {
  background-color: #eee;
  padding: 0; }
  .section-blog__content {
    padding: 3rem;
    color: #ff7730;
    padding: 10rem 0; }
    .section-blog__content h3 {
      font-size: 2rem;
      text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .section-blog__content {
        padding: 5rem 0; } }

.section-contact {
  padding: 0;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 5rem 0; } }
  .section-contact__content {
    padding: 3rem; }

/* Modules*/
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.hero {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      padding: 10rem 0; } }
  .hero__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent; }
  .btn--white:hover {
    color: #55c57a;
    background-color: #fff;
    transition: all 0.2s; }

.btn--primary {
  border: 2px solid #55c57a;
  color: #55c57a;
  background-color: #fff; }
  .btn--primary:hover {
    color: #ff7730;
    border-color: #ff7730; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text__secondary:link, .btn-text__secondary:visited {
  color: #ff7730;
  border-bottom: none; }

.btn-text__secondary:hover {
  background-color: #ff7730;
  color: #fff; }

.btn-text__big:link, .btn-text__big:visited {
  font-size: 3rem; }

.btn--scroll {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  padding: 1.5rem; }
  .btn--scroll:hover {
    background-color: rgba(85, 197, 122, 0.8); }
    .btn--scroll:hover .scroll-text {
      color: #fff;
      transform: translateY(-2px); }

.scroll-text:link, .scroll-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: calc(100% / 3);
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.pitch-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .pitch-box {
      padding: 2rem; } }
  .pitch-box i {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .pitch-box i {
        margin-bottom: 0; } }

.portfolio-card__frame {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  float: left;
  position: relative;
  overflow: hidden; }

.portfolio-card__image {
  width: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s; }

.portfolio-card__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .portfolio-card__caption a {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
    line-height: 8rem;
    text-align: center;
    color: #333; }

.portfolio-card__frame:hover .portfolio-card__caption {
  opacity: 1;
  transform: translate(-50%, -50%); }

.portfolio-card__frame:hover .portfolio-card__image {
  transform: translateX(-4rem) scale(1.2);
  filter: blur(3px) brightness(80%); }

.testimony-box {
  color: #fff;
  position: relative; }
  .testimony-box i {
    display: block;
    font-size: 3rem; }
  .testimony-box__text {
    font-size: 2.5rem;
    line-height: 4rem;
    font-style: italic; }
  .testimony-box__name {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem; }
  .testimony-box__assoc {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.3rem; }

.slick-dots {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  bottom: -1.5rem; }

.slick-dots li {
  list-style: none;
  display: inline; }

.slick-dots li button {
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  margin: 0 4px;
  padding: 0;
  outline: none;
  transition: background-color 0.3s ease-out;
  cursor: pointer; }

.slick-dots .slick-active button {
  background-color: #fff; }

.biography {
  float: left;
  position: relative;
  overflow: hidden; }
  .biography__image {
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .biography__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    backface-visibility: 0; }
    .biography__caption h5 {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      border-bottom: 2px solid #fff; }
    .biography__caption a {
      display: inline-block;
      height: 5rem;
      width: 5rem;
      font-size: 2rem;
      line-height: 5rem;
      text-align: center;
      color: #fff; }
      .biography__caption a:hover {
        color: #55c57a; }
  .biography:hover .biography__caption {
    opacity: 1; }
  .biography:hover .biography__image {
    filter: blur(3px) brightness(30%); }

.blog-post {
  float: left;
  position: relative;
  overflow: hidden; }
  .blog-post__image {
    width: 100%;
    backface-visibility: hidden; }
  .blog-post__title {
    width: 100%;
    padding: 3rem 3rem;
    background-color: #fff; }
    .blog-post__title h3 {
      text-transform: none; }
    .blog-post__title a {
      text-decoration: none;
      color: #ff7730; }

.contact__info {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
  margin-right: 2px;
  bottom: 0; }
  .contact__info span {
    display: block;
    margin-bottom: 2rem; }
    .contact__info span h6 {
      display: inline-block;
      font-size: 2rem;
      padding-right: 1rem; }
      .contact__info span h6 i {
        display: inline-block;
        font-size: 2rem;
        padding-right: 1rem; }
      .contact__info span h6 span {
        display: inline-block;
        font-size: 2rem; }
        .contact__info span h6 span a {
          color: #fff;
          text-decoration: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ff7730; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #5643fa; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.scroll-wrapper--down {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%); }

.scroll-wrapper--up {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%; }
