// COLORS
$color-primary: #1b75bc;
$color-primary-light: #83beed;
$color-primary-dark: #082236;

$color-secondary-light: #bc1e2d;
$color-secondary-dark: #38090d;

$color-tertiary-light: #ffaa4d;
$color-tertiary-dark: #b35e00;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-body: 'Comic Sans MS', cursive;
$font-quote: 'Dancing Script', cursive;
$font-heading: 'Lobster', cursive;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
