/*
  Theme Name: Liberty Barbers Custom
  Author: Dan Branda
  Version: 1.0
*/
/* 3rd party package */
/* SASS and Globals */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* Base Components */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::-moz-selection {
  background-color: #1b75bc;
  color: #fff; }

::selection {
  background-color: #1b75bc;
  color: #fff; }

.fullrow {
  margin: 0; }
  .fullrow::after {
    content: '';
    display: table;
    clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

body {
  font-family: "Comic Sans MS", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #bc1e2d; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
  color: #1b75bc;
  text-shadow: 1px 1px #bc1e2d; }
  h1 a,
  h1 a:link,
  h1 a:visited,
  h2 a,
  h2 a:link,
  h2 a:visited,
  h3 a,
  h3 a:link,
  h3 a:visited,
  h4 a,
  h4 a:link,
  h4 a:visited,
  h5 a,
  h5 a:link,
  h5 a:visited,
  h6 a,
  h6 a:link,
  h6 a:visited {
    color: #1b75bc; }

.heading-primary {
  font-family: "Lobster", cursive;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.8rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.4rem; } }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #83beed, #082236);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  border-bottom: 5px solid #082236; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary__white {
    background-image: none;
    color: #fff;
    border-bottom: none;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary__primary-color {
    background-image: none;
    color: #1b75bc;
    border-bottom: none;
    text-shadow: 1px 1px #bc1e2d; }
  .heading-secondary__secondary-color {
    background-image: none;
    color: #bc1e2d;
    border-bottom: none;
    text-shadow: 1px 1px #1b75bc; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary__white {
    color: #fff; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph__white {
    color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1b75bc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1b75bc;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #1b75bc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/* Modules*/
header nav {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
  border: none;
  min-height: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1200;
  background-color: transparent;
  width: 100%;
  line-height: 0; }
  header nav::after {
    content: '';
    display: table;
    clear: both; }
  header nav .admin-bar {
    top: 32px; }

.navbar {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 5rem; }
  .navbar::after {
    content: '';
    display: table;
    clear: both; }
  .navbar .nav-mobile {
    display: none; }
    @media only screen and (max-width: 75em) {
      .navbar .nav-mobile {
        display: block; } }
    .navbar .nav-mobile__checkbox {
      display: none; }
    .navbar .nav-mobile__button {
      background-color: #999;
      height: 5rem;
      width: 5rem;
      position: fixed;
      top: 1rem;
      right: 6rem;
      border-radius: 10%;
      z-index: 2000;
      box-shadow: 2px 2px #1b75bc;
      text-align: center;
      cursor: pointer; }
      .navbar .nav-mobile__button:hover {
        background-color: #777; }
      @media only screen and (max-width: 56.25em) {
        .navbar .nav-mobile__button {
          right: 4rem;
          top: 0.75rem; } }
      @media only screen and (max-width: 37.5em) {
        .navbar .nav-mobile__button {
          right: 3rem; } }
    .navbar .nav-mobile .admin-bar {
      top: calc(32px + 1rem); }
      @media only screen and (max-width: 56.25em) {
        .navbar .nav-mobile .admin-bar {
          top: calc(46px + 0.75rem); } }
      @media only screen and (max-width: 37.5em) {
        .navbar .nav-mobile .admin-bar {
          top: 46px; } }
    .navbar .nav-mobile__background {
      height: 4rem;
      width: 4rem;
      border-radius: 10%;
      position: fixed;
      right: 6.5rem;
      top: 1.5rem;
      background-image: radial-gradient(#83beed, #082236);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
      @media only screen and (max-width: 56.25em) {
        .navbar .nav-mobile__background {
          right: 4.5rem;
          top: 1.25rem; } }
      @media only screen and (max-width: 37.5em) {
        .navbar .nav-mobile__background {
          right: 3.5rem; } }
    .navbar .nav-mobile .admin-bar-background {
      top: calc(32px + 1.5rem); }
      @media only screen and (max-width: 56.25em) {
        .navbar .nav-mobile .admin-bar-background {
          top: calc(46px + 1.25rem); } }
      @media only screen and (max-width: 37.5em) {
        .navbar .nav-mobile .admin-bar-background {
          top: 46px; } }
    .navbar .nav-mobile__nav {
      height: 100vh;
      position: fixed;
      top: 0%;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .navbar .nav-mobile__nav ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        font-family: "Comic Sans MS", cursive;
        font-weight: 400;
        line-height: 1.7; }
        .navbar .nav-mobile__nav ul li {
          margin: 1rem; }
          .navbar .nav-mobile__nav ul li a:link, .navbar .nav-mobile__nav ul li a:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: #bc1e2d;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 300%;
            transition: all 0.4s; }
          .navbar .nav-mobile__nav ul li a:hover {
            background-position: 100%;
            transform: translateX(1rem); }
          .navbar .nav-mobile__nav ul li.current-menu-item a {
            background-position: 100%;
            transform: translateX(1rem); }
    .navbar .nav-mobile__social ul {
      position: fixed;
      top: 90%;
      transform: translateX(-50%); }
    .navbar .nav-mobile__admin ul {
      position: fixed;
      top: 75%;
      transform: translateX(-50%); }
  .navbar__wrapper {
    float: left;
    position: relative;
    min-height: 1px;
    margin-top: 20rem;
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: none; }
    .navbar__wrapper::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 75em) {
      .navbar__wrapper {
        display: none; } }
    .navbar__wrapper ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      float: none;
      display: inline-block; }
      .navbar__wrapper ul::after {
        content: '';
        display: table;
        clear: both; }
      .navbar__wrapper ul li {
        position: relative;
        display: block;
        float: left;
        background-color: #999; }
        .navbar__wrapper ul li a {
          text-decoration: underline;
          outline: none;
          position: relative;
          display: block;
          font-family: "Comic Sans MS", cursive;
          text-transform: uppercase;
          padding: 0 2rem;
          line-height: 5rem;
          color: #1b75bc;
          font-size: 1.3rem;
          letter-spacing: 0.02em;
          font-weight: 700;
          transition: all 0.3s ease-in-out;
          border: 3px solid #777;
          box-shadow: inset 3px 3px 0px #fff; }
          .navbar__wrapper ul li a:hover {
            color: #bc1e2d !important;
            background-color: #777;
            border-color: #999; }
        .navbar__wrapper ul li.current-menu-item a {
          color: #bc1e2d !important;
          text-decoration: none;
          background-color: #777;
          border-color: #999; }
  .navbar__admin {
    width: 25%;
    float: right;
    margin: 0;
    margin-top: 20rem;
    padding: 0; }
    .navbar__admin::after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (max-width: 75em) {
      .navbar__admin {
        display: none; } }
    .navbar__admin li {
      position: relative;
      display: block;
      float: left; }
    .navbar__admin a,
    .navbar__admin a:visited {
      text-decoration: underline;
      text-transform: uppercase;
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.3rem;
      line-height: 5rem;
      color: #1b75bc;
      background-color: #999;
      transition: all 0.3s ease-in-out;
      border: 3px solid #777;
      box-shadow: inset 3px 3px 0px #fff;
      margin-right: -1rem;
      max-height: 5rem; }
      .navbar__admin a:hover,
      .navbar__admin a:visited:hover {
        color: #bc1e2d;
        background-color: #777;
        border-color: #999; }

.site-header__avatar {
  position: relative;
  overflow: hidden; }
  .site-header__avatar img {
    padding-top: 10px;
    width: auto;
    height: 30px; }

.nav-mobile__button i {
  position: relative;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px #1b75bc; }
  .nav-mobile__button i.expand {
    display: inline-block; }
  .nav-mobile__button i.hide {
    display: none; }

.nav-mobile__checkbox:checked ~ .nav-mobile__background {
  transform: scale(80); }

.nav-mobile__checkbox:checked ~ .nav-mobile__nav {
  opacity: 1;
  width: 100%; }

.nav-mobile__checkbox:checked + .nav-mobile__button i.expand {
  display: none; }

.nav-mobile__checkbox:checked + .nav-mobile__button i.hide {
  display: inline-block;
  transform: rotate(135deg); }

.logo img {
  box-shadow: 10px 10px #1b75bc; }

.banner__image {
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .banner__image {
      padding: 10rem 0; } }

.banner__text-box {
  position: absolute;
  top: 40%;
  left: 5%; }
  .banner__text-box h1 {
    font-size: 6.5rem;
    color: #fff; }
  .banner__text-box h2 {
    font-size: 3.25rem;
    color: #fff;
    font-family: "Comic Sans MS", cursive; }

@media only screen and (max-width: 56.25em) {
  .banner {
    display: none; } }

.banner__portable {
  display: none; }
  .banner__portable h1 {
    font-size: 3.25rem; }
  .banner__portable h2 {
    font-size: 2rem;
    font-family: "Comic Sans MS", cursive; }
  @media only screen and (max-width: 56.25em) {
    .banner__portable {
      display: block; } }

#intro {
  background-color: #bc1e2d; }
  #intro .container {
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      #intro .container {
        padding: 0; } }
  #intro .content {
    padding: 3rem;
    background: rgba(255, 255, 255, 0.85);
    border: 6px double #1b75bc;
    text-shadow: 1px 1px #fff;
    padding: 10rem; }

#menu {
  padding: 3rem; }

.blog-card__frame {
  box-shadow: 0 3rem 6rem rgba(188, 30, 45, 0.1);
  float: left;
  position: relative;
  overflow: hidden; }

.blog-card__image {
  width: 100%;
  transform: translateX(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.5s; }

.blog-card__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .blog-card__caption a {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 8rem;
    text-align: center;
    color: #bc1e2d;
    text-decoration: none; }

.blog-card__frame:hover .blog-card__caption {
  opacity: 1;
  transform: translate(-50%, -50%); }

.blog-card__frame:hover .blog-card__image {
  transform: translateX(-4rem) scale(1.2);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%); }

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0; }

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important; }

/* Customize Login Screen */
body.login .button-primary {
  background-color: #bc1e2d;
  border-color: color(#bc1e2d b(10%));
  text-shadow: 0 -1px 1px color(#bc1e2d b(15%)), 1px 0 1px color(#bc1e2d b(15%)), 0 1px 1px color(#bc1e2d b(15%)), -1px 0 1px color(#bc1e2d b(15%));
  box-shadow: 0 1px 0 color(#bc1e2d b(20%)); }

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: color(#bc1e2d b(7%));
  border-color: color(#bc1e2d b(15%));
  text-shadow: 0 -1px 1px color(#bc1e2d b(20%)), 1px 0 1px color(#bc1e2d b(20%)), 0 1px 1px color(#bc1e2d b(20%)), -1px 0 1px color(#bc1e2d b(20%));
  box-shadow: 0 1px 0 color(#bc1e2d b(25%)); }

body.login {
  background-color: #1b75bc; }

.login h1 a {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0; }
