*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontBody;
  background-color: $white;
  line-height: 1.4;
  transition: padding-top 0.2s ease 0s;
  color: $gray;
  position: relative;
}

main {
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: color 0.5s ease 0s;
}
a:hover {
  text-decoration: none;
  color: $emphasis;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
}
