h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
  font-family: $fontHeading;
  font-weight: normal;
}

h1,
h2,
.content-panel h2.look-like-h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.25em;
  color: $primarylight;
}

.text-highlight-1 {
  color: $primarylight;
  border-left: solid 2px $lightgray;
  padding: 0.5em 1em 1em;
  font-size: 1.1em;
  margin: 1.75em 0 1.75em -1em;
  border-bottom: solid 2px $lightgray;
}
