$white: #ffffff;
$nearwhite: #f4f8f8;
$black: #000000;
$printblack: #0d0d0d;
$gray: #6a7d89;
$lightgray: #b4b4b4;
$darkgray: #2f2f2f;
$primarydark: #0b2338;
$primary: #123655;
$primarylight: #193963;
$secondary: #ec602e;
$emphasis: #ae854e;
$red: #ff070b;
$green: #22c022;
$primaryopague: rgba(18, 54, 85, 0.902);
$primarytranslucent: rgba(16, 37, 78, 0.1);
$fontHeading: 'Lato', sans-serif;
$fontBody: 'Raleway', sans-serif;
