.animate-section {
  position: relative;
}

.animation {
  position: relative;
  height: 55em;
  width: 100%;
  background-color: $printblack;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  left: 0;
}

.slide:first-child {
  display: block;
}

.slide img.slide-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.slide .main {
  height: 100%;
  padding: 0;
}

.info {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  padding: 10% 0em 0 0em;
  height: 100%;
  max-width: 70%;
}

.info h1 {
  position: relative;
  display: block;
  width: auto;
  color: $white;
  font-size: 4.12em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: justify;
  text-shadow: 0 0 1em $black;
}

.info h2 {
  position: relative;
  display: block;
  width: auto;
  color: $white;
  font-size: 5em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: justify;
  text-shadow: 0 0 0.5em $black;
}

.info h2 em {
  display: block;
  font-style: normal;
  font-weight: 300;
  position: relative;
  letter-spacing: 0.1em;
  font-size: 0.75em;
  text-shadow: 0 0 0.5em $black;
}

.info h2 em:after {
  content: '';
  width: 41%;
  height: 2px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 2%;
}

.info h2 span {
  font-weight: 300;
}

.slide .info .btn {
  display: none;
}

.animate-cont {
  z-index: 5;
  background-color: $white;
  position: absolute;
  bottom: 0;
  left: auto;
  height: auto;
  padding: 3em 3em 0 3em;
  font-family: $fontHeading;
  width: 100%;
}

.animate-cont strong {
  color: $emphasis;
  font-size: 1.5em;
  font-weight: 600;
}
