.atty-header .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.atty-header .atty-img {
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
  width: 25%;
}

.atty-header .atty-img img {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.atty-header .atty-info {
  -webkit-flex: 0 1 72%;
  -ms-flex: 0 1 72%;
  flex: 0 1 72%;
  border-bottom: solid 2px $lightgray;
  padding: 3em 30% 0em 1%;
  color: $primarydark;
  width: 72%;
}

.atty-header .atty-info h1 {
  text-transform: uppercase;
  color: $emphasis;
  font-weight: 600;
}

.atty-header .atty-info h3 {
  font-size: 1.5em;
  color: $emphasis;
  letter-spacing: 0.2em;
  margin: 0.25em 0;
  text-transform: uppercase;
}

.atty-body .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.atty-body .atty-tabs {
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  background-color: $darkgray;
  border: solid 1 em $white;
  padding: 3em;
  width: 25%;
}

.atty-body-content {
  -webkit-flex: 0 1 72%;
  -ms-flex: 0 1 72%;
  flex: 0 1 72%;
  padding-right: 25%;
}

.atty-body-content > div {
  display: none;
}

.atty-body-content > div.active {
  display: block;
}

.video-spotlight {
  display: block;
  text-align: center;
  margin: 0 auto;
}
