.btn,
.button-list li a {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  border: none;
  position: relative;
  color: $white;
  background-color: $secondary;
  transition: 0.5s ease 0s;
  font-size: 1.25rem;
}

.btn:hover,
a:hover .btn,
.button-list li a:hover {
  background-color: $emphasis;
  color: $white;
}

form button,
button.btn {
  font-family: inherit;
  font-size: 1.25rem;
  line-height: inherit;
}
