.contact-news-section {
  border: solid 1em $white;
  background-color: $primary;
  position: relative;
}

.contact-news-section:before {
  content: '';
  width: 45%;
  height: 100%;
  position: absolute;
  background-color: $white;
  right: 0;
  top: 0;
}

.contact-news-section > .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.contact-box {
  background-color: $primary;
  position: relative;
  padding: 1.5em 10% 1.5em 0;
  color: $white;
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  overflow: visible;
}

.contact-box header.fancy {
  border-bottom: solid 2px $white;
}

.contact-box .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2em auto;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-box .box > div {
  -webkit-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
  line-height: 2em;
}

.contact-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.contact-form fieldset li {
  position: relative;
}

.contact-form .hide {
  display: none;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  color: $white;
  padding: 0.75em;
  margin-bottom: 0.5em;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  border: solid 1px $primarydark;
  background-color: $primarydark;
  transition: border-color 0.35s ease;
}

.contact-form select {
  display: block;
  width: 100%;
  color: $white;
  padding: 0.75em;
  margin-bottom: 0.5em;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  border: solid 1px $primarydark;
  background-color: $primarydark;
  transition: border-color 0.35s ease;
  -moz-appearance: none;
  appearance: none;
}

.contact-form textarea {
  min-height: 5em;
  overflow: auto;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus,
.contact-form .dropdown-label.active {
  border-color: $secondary;
}

.contact-form .validation {
  position: absolute;
  left: 0;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  z-index: 2;
  color: #f2f2f2;
  font-size: 0.8em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  transition: 0.25s;
  white-space: nowrap;
}

.contact-form .validation:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left: solid 0.5em transparent;
  border-right: solid 0.5em transparent;
  border-bottom: solid 0.5em rgba(0, 0, 0, 0.8);
  bottom: 100%;
  left: 1em;
}

.contact-form .btn {
  width: 100%;
}
