.footer-section {
}

.schema-link-section {
  background-color: $primarydark;
  padding: 4em 0;
}

.schema-link-section .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.schema {
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}

.schema li {
  padding: 1em 0;
  border-bottom: solid 1px $primary;
  color: $white;
}

.schema h4 {
  color: $emphasis;
  text-transform: uppercase;
}

.schema h3 {
  line-height: 1em;
  margin: auto;
}

.scehma h3 a {
  color: $lightgray;
  font-weight: 700;
}

.schema li .sitelink a {
  color: $secondary;
}

.soc-links {
  margin: 2em auto;
}

.soc-links ul.box {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.soc-links ul.box li {
  padding: 0 5%;
}

.soc-links li a {
  color: $white;
  transition: color 0.5s ease;
  font-size: 1.5em;
}

.soc-links li a:hover {
  color: $secondary;
}

.foot-links {
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}

.foot-links header {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 1em;
}

.foot-links header h3 {
  text-transform: uppercase;
  color: $white;
}

.foot-links ul li {
  padding: 1em 0;
  border-bottom: solid 1px $primary;
}

.foot-links ul li a {
  color: $white;
  line-height: 1em;
}

.footer-section .sd-footer {
  background-color: $darkgray;
  color: $lightgray;
  padding: 1em 0;
}

.footer-section .sd-footer .box {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-section .sd-footer .box small {
  text-align: right;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.footer-section .sd-footer .box small .copyright {
  margin-bottom: 1em;
}
