.blogfeed-box {
  background-color: $white;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 2em 0%;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

.blogfeed-box header {
  border-bottom: solid 2px $lightgray;
  padding: 1em 0;
}

.blogfeed-box header h2 {
  color: $emphasis;
  font-weight: 600;
  text-transform: uppercase;
}

.blogfeed-box ul {
}

.blogfeed-box ul li {
  padding: 2em 0;
  border-bottom: solid 2px $lightgray;
  line-height: 2em;
}

.blogfeed-box ul li a {
  position: relative;
  padding-right: 2.2em;
  display: block;
}

.blogfeed-box ul li a .date {
  color: $lightgray;
  font-weight: 600;
}

.blogfeed-box ul li a .text h3 {
  font-weight: 700;
  color: $primarydark;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.blogfeed-box .btn-container {
  text-align: center;
  margin: 2em 0;
}
