.masthead {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: $primarydark;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0.5em 1%;
}

.masthead .top-logo {
}

.masthead .contact-info {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.masthead .contact-info a {
  color: $lightgray;
  font-size: 2em;
  padding: 0;
}

.mob-phone {
  display: none;
}

.masthead > a.search-trigger {
  font-size: 1.5em;
  margin-left: 0.5em;
  -webkit-flex: 0 1 3%;
  -ms-flex: 0 1 3%;
  flex: 0 1 3%;
}

nav.top-nav {
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  max-width: 60%;
}
