/* .mobile-menu nav ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  color: $white;
  position: absolute;
  font-size: 1.5em;
  left: 0.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  top: 0.875em;
}

.mobile-menu nav > ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  display: none;
} */

.practice-nav ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 0.7em;
  color: $secondary;
  margin: auto auto auto 1em;
  transition: margin-left 0.5s ease;
}

.foot-links header:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f067';
  position: absolute;
  right: 2em;
  top: 50%;
  color: $white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.foot-links header:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f067';
  position: absolute;
  right: 2em;
  top: 50%;
  color: $white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.5s ease 0s;
}

.foot-links ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  color: $secondary;
  font-size: 0.7em;
  margin: auto auto auto 1em;
  transition: margin-left 0.5s ease;
}

.foot-links ul li a:hover:after {
  margin-left: 2em;
}

icon.fontello {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  display: inline-block;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
}

.fontello.money-recovered:before {
  content: '\f555';
}

.fontello.trial-lawyers:before {
  content: '\f0e3';
}

.fontello.excellence:before {
  content: '\f521';
}

.fontello.dedicated:before {
  content: '\f441';
}

.contact-form fieldset .input-text:after,
.contact-form fieldset .input-text:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: block;
  position: absolute;
  top: 0.85em;
  right: 0.85em;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  line-height: 1.6;
}

.contact-form fieldset .input-text:before {
  content: '\f00d';
  color: $red;
}

.contact-form fieldset .input-text:after {
  content: '\f00c';
  color: $green;
}

.blogfeed-box ul li a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  color: $secondary;
  transition: 0.5s ease;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
}

.blogfeed-box ul li a:hover:after {
  right: 0;
}
