.full {
  width: auto;
  margin: 0px auto;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9vw;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.archive {
  margin: 3em 1em;
}

.main {
  max-width: 1500px;
  width: auto;
  margin: 0 auto;
  position: relative;
}
.main.short {
  max-width: 1150px;
}

.half {
  width: auto;
}

.two-thirds {
  -webkit-flex: 0 1 66.66%;
  -ms-flex: 0 1 66.66%;
  flex: 0 1 66.66%;
  width: 66.66%;
}

.third {
  -webkit-flex: 0 1 33.33%;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
  width: 33.33%;
}

.cont-wrap {
  position: relative;
}

.content-panel {
  line-height: 2em;
  color: $primarydark;
  font-size: 1.25em;
}

.content-panel h2,
.content-panel h3,
.content-panel h4 {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 400;
}

.content-panel h1 {
  text-transform: uppercase;
  color: $emphasis;
  font-weight: 600;
}

.content-panel h2 {
  font-size: 1.25em;
  color: $emphasis;
  letter-spacing: 0.2em;
}

.content-panel h3 {
  font-size: 1.25em;
  color: $darkgray;
  font-family: $fontBody;
}

.content-panel.overlap {
  position: relative;
  -webkit-transform: translateY(-10em);
  -ms-transform: translateY(-10em);
  transform: translateY(-10em);
  display: block;
  background-color: $white;
  padding: 3em;
  width: 100%;
  transition: transform 1s ease;
  z-index: 2;
  margin-bottom: -10em;
}

.content-panel.overlap.show {
}

.wide.content-panel {
  padding: 0 3em;
}

.content {
  line-height: 2em;
}

header.fancy {
  padding: 2em 0;
  border-bottom: solid 2px $emphasis;
}

header.fancy h3 {
  color: $emphasis;
  font-size: 2.75em;
  font-weight: 300;
}

header.fancy h4 {
  color: $emphasis;
  font-size: 3em;
  font-weight: 300;
}

header.fancy strong {
  font-weight: 600;
  text-transform: uppercase;
}

.contact-pg {
  padding: 3em;
}
