@media screen and (max-width: 1600px) {
  .atty-body-content,
  .atty-header .atty-info {
    padding-right: 2%;
  }
}

@media screen and (max-width: 1500px) {
  .animation {
    font-size: 1vw;
  }
  .schema-link-section .box {
    padding: 0 1.5%;
  }
  .contact-box {
    padding: 1.5em 10% 1.5em 1.5%;
  }
  .atty-body .atty-tabs {
    padding: 2em 1%;
  }
  .atty-body .atty-tabs .btn {
    font-size: 1em;
  }
  .sbc .sbc-text {
    padding-left: 3em;
  }
}

@media screen and (max-width: 1350px) {
  .info {
    padding-left: 1%;
  }
}

@media screen and (max-width: 1300px) {
  .prac-acco-section .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1280px) {
  .info h1,
  .info h2 {
    padding-left: 1.5%;
  }
  .content-panel.animate-cont {
    font-size: 1.25em;
  }
  .full {
    font-size: 1em;
  }
  .desktop-nav {
    background-color: $primarydark;
    border-top: solid 2px $emphasis;
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    transition: all 1s ease;
    padding: 0 1em;
  }
  .open .desktop-nav {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .trig-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .wide-cta {
    font-size: 1em;
  }
  .practice-nav {
    padding: 2%;
    -webkit-flex: 0 1 65%;
    -ms-flex: 0 1 65%;
    flex: 0 1 65;
  }
  .masthead .contact-info {
    -webkit-flex: 0 1 22%;
    -ms-flex: 0 1 22%;
    flex: 0 1 22%;
  }
  .masthead > a.search-trigger {
    text-align: center;
    -webkit-flex: 0 1 5%;
    -ms-flex: 0 1 5%;
    flex: 0 1 5%;
  }
  .accolades {
    padding: 2%;
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
  }
  .content-panel.overlap {
  }
  .contact-news-section .contact-box {
    padding: 1.5em 10% 1.5em 2%;
  }
  .contact-news-section > .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .top-nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 1s;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .top-nav.open {
    max-height: 20em;
    overflow: visible;
    max-width: 100%;
  }
  .content-panel {
    font-size: 1em;
  }
  .practice-nav ul {
    font-size: 1.25em;
  }
  .contact-news-section {
    border: none;
  }
}

@media screen and (max-width: 1200px) {
  .info {
    max-width: 100%;
  }
  .animation {
    font-size: 1vw;
  }
  .prac-acco-section {
    padding: 0em 0 18em 0;
  }
  .admin-list {
    padding: 0 2%;
  }
  .admin-list-ul li {
    -webkit-flex: 0 1 48%;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
  }
  .atty-header .atty-img {
    -webkit-flex: 0 1 45%;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    width: 45%;
  }
  .atty-header .atty-info {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
  }
  .atty-body .atty-tabs {
    padding: 2%;
  }
  .box-list ul li,
  .admin-list ul li {
    -webkit-flex: 0 1 48%;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
  }
  .main.short {
    padding: 0 1%;
  }
}

@media screen and (max-width: 1150px) {
  .results-section .content h4 {
    font-size: 2.5em;
  }
  .results-section .results-info.first {
    padding-right: 2em;
  }
  .results-section .results-info.second {
    padding-left: 2em;
  }
  .results-section .main > .box {
    padding: 4em 2%;
  }
}

@media screen and (max-width: 1020px) {
  .animation {
    font-size: 1em;
    height: auto;
  }
  .info {
    max-width: 100%;
    text-align: center;
  }
  .info h1,
  .info h2 {
    font-size: 3.12em;
    text-align: center;
    padding-left: 0;
  }
  .info h2 {
    padding-bottom: 10%;
  }
  .info h2 em:after {
    display: none;
  }
  .info h3 {
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 10%;
  }
  .slide,
  .animate-cont {
    position: relative;
  }
  .prac-acco-section .box {
    display: block;
  }
  .prac-acco-section {
    padding: 2em 2%;
  }
  .landing .prac-acco-section {
    padding-bottom: 2em;
  }
  .practice-nav {
    margin-bottom: 1em;
  }
  .content-panel.overlap {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 0;
    padding: 1em;
  }
  .wide-cta-section .btn-wrap {
    padding: 0 2em;
    text-align: center;
  }
  .wide-cta-section {
    padding: 1em 0;
  }
  .award-list ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .award-list ul li {
    padding: 0.5em;
  }
  .content-panel {
    font-size: 1em;
  }
  .content-panel h2 {
    letter-spacing: 0;
  }
  .value-section .box {
    display: block;
  }
  .value-section .box .btn-container {
    text-align: center;
  }
  .contact-news-section > .box {
    display: block;
  }
  .schema,
  .middle-foot,
  .foot-links {
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
  .main-contain .sidebox {
    padding: 1em;
  }
  .two-thirds {
    width: auto;
  }
  .third {
    width: auto;
  }
  .cont-over .main.box {
    display: block;
  }
  .cont-over .top-img,
  .cont-over .bottom-img {
    margin: 3em 8%;
  }
  .practice-nav ul {
    margin: 1em 0;
  }
  .blogfeed-box {
    padding: 2em 2%;
  }
  .news-articles-woodmore ul li {
    width: 48%;
  }
  .news-articles-woodmore ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .csg .res-item {
    width: 96%;
    float: none;
  }
  .atty-body .box {
    display: block;
  }
  .atty-body .atty-tabs {
    position: relative;
    text-align: center;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }
  .atty-body .atty-tabs:after {
    display: block;
    content: '';
    clear: both;
  }
  .atty-body .atty-tabs .btn {
    display: inline-block;
    margin: 1%;
    border: solid 2px $lightgray;
  }
  .atty-body-content {
    padding: 2%;
  }
  .sub .contact-box {
    padding: 1.5em 2%;
  }
  .sbc {
    height: auto;
  }
  .sbc .sbc-text {
    max-width: 99%;
  }
  .about-steps .main.box,
  .about-steps.cont-over .content-panel.overlap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1em;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .about-steps .main.box .two-thirds {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .about-steps .main.box .third {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .sub .content-two {
    margin-top: auto;
  }
  .thank-you .box .ty-cont {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 950px) {
  .top-nav.open {
    max-height: none;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-menu nav {
    display: block;
  }
  .trig-wrap {
    width: 30%;
  }
  .full {
    font-size: 1em;
  }
  .top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: none;
    height: 100%;
    background-color: rgba(11, 35, 56, 0.9);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0.5s ease;
    z-index: 20;
    max-width: 100% !important;
  }
  .top-nav.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .thank-you .box {
    display: block;
  }
  .thank-you .box .img-section {
    padding-bottom: 48%;
  }
}

@media screen and (max-width: 900px) {
  .content-panel.animate-cont {
    font-size: 1em;
  }
}

@media screen and (max-width: 850px) {
  .midcont-section .box {
    display: block;
    text-align: center;
  }
  .midcont-section .mid-img {
    padding: 2em 2% 0 2%;
  }
  .results-section .box {
    display: block;
    text-align: center;
  }
  .results-section .content {
    text-align: center;
  }
  .results-section .results-info.second {
    padding-left: 0;
  }
  .results-section .results-info.first {
    padding-right: 0;
    border-right: none;
  }
  .value-section,
  .landing .value-section {
    padding: 1em 2%;
  }
  .results-section {
    padding: 1em 2%;
  }
  .schema-link-section > .box {
    display: block;
    text-align: center;
  }
  .soc-links {
    max-width: 400px;
  }
  .main-contain {
    display: block;
  }
  .midcont-section .cont-wrap .content-panel .btn {
    margin-top: 0;
  }
  .results-section .main > .box {
    padding: 0;
  }
  .bloghome {
    padding-right: 2%;
  }
  .test-sys ul.main li {
    -webkit-flex: 0 1 99%;
    -ms-flex: 0 1 99%;
    flex: 0 1 99%;
  }
}

@media screen and (max-width: 800px) {
  .animation {
  }
  .contact-pg .box {
    display: block;
  }
  .contact-pg .box .contact-form {
    margin-bottom: 2em;
  }
  .sbc .sbc-text h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 0.5em;
    color: $secondary;
  }
}

@media screen and (max-width: 700px) {
  .trig-wrap {
    width: auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: auto;
  }
  .masthead .contact-info a {
    display: block;
    font-size: 1.5em;
  }
  .menu-trigger {
    margin-right: auto;
  }
  .practice-nav ul {
    display: block;
    text-align: center;
    font-size: 1.25em;
  }
  .practice-nav ul li {
    border-left: none;
  }
  .value-list li h4 {
    font-size: 1.25em;
  }
  .value-list li {
    margin: 1em 0;
  }
  .contact-news-section .contact-box {
    padding: 1.5em 2%;
  }
  .contact-news-section .contact-box .box {
    display: block;
  }
  header.fancy h3,
  .results-section .content h3,
  .practice-nav h3 {
    font-size: 1.75em;
  }
  header.fancy h4,
  .results-section .content h4 {
    font-size: 2em;
  }
  .search-bar input {
    width: 80%;
    border-radius: 50px;
    background-color: $white;
    color: $emphasis;
    padding: 0.2em 0.4em;
  }
  .case-types {
    display: block;
  }
  .searchbox {
    margin: 1em;
  }
  .res-item {
    padding: 0 2%;
  }
  .atty-header .atty-info {
    padding: 2em 2%;
  }
  .test-sys ul.main li .review h2 {
    font-size: 1.25em;
  }
  .test-sys ul.main li {
    padding: 0 0% 1em 0em;
  }
  .test-sys ul.main li blockquote {
    margin: 0 5%;
  }
  .sub-form-section .contact-form {
    display: block;
  }
  .sub-form-section .contact-form .submit-btn {
    margin-left: auto;
  }
  .box-list ul li,
  .admin-list {
    -webkit-flex: 0 1 99%;
    -ms-flex: 0 1 99%;
    flex: 0 1 99%;
  }
  .cont-over .content-panel.overlap,
  .wide.content-panel {
    padding: 0 1em;
  }
  .sbc:before {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .info h2 {
    padding-bottom: 10%;
  }
  .slide .info .btn {
    display: block;
  }
  .accolades {
    display: none;
  }
  .footer-section .sd-footer .box {
    display: block;
    text-align: center;
  }
  .footer-section .sd-footer .box small {
    text-align: center;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  .menu-trigger {
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.75em;
  }
  .masthead .top-logo {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .masthead > a.search-trigger {
    display: none;
  }
  .trig-wrap {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .masthead .contact-info {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-right: 1%;
  }
  .masthead .contact-info a.phone-number {
    display: none;
  }
  .masthead .contact-info .mob-phone {
    display: block;
    border: solid 2px $secondary;
    color: $white;
    width: 2.5em;
    height: 2.5em;
  }
  .masthead .contact-info a.mobphone-number {
    display: block;
    color: $white;
    padding: 0.2em;
  }
  .masthead .contact-info a.mobphone-number icon {
    color: $white;
    display: block;
    font-size: 1.1em;
  }
  .content-panel h1 {
    font-size: 1.75em;
  }
  .contact-box header.fancy {
    text-align: center;
  }
  .practice-nav {
    padding: 2em 2%;
  }
  .value-section .box .quote {
    display: none;
  }
  .value-section .box .btn-container {
    text-align: center;
  }
  .foot-links {
    padding: 0 1em;
  }
  .foot-links header {
    display: block;
    background-color: $secondary;
  }
  .foot-links header h2 {
    color: $white;
  }
  .foot-links.open header:after {
    opacity: 0;
  }
  .foot-links.open header:before {
    opacity: 1;
  }
  .foot-links ul {
    max-height: 0;
    transition: 0.5s ease;
    overflow: hidden;
  }
  .foot-links.open ul {
    max-height: 50em;
  }
  .csg {
    display: block;
  }
  .sub .staff-list header.fancy {
    padding: 0 0.5em;
  }
  .admin-list ul li {
    -webkit-flex: 0 1 99%;
    -ms-flex: 0 1 99%;
    flex: 0 1 99%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }
  ul.bullet-list-1 {
    display: block;
  }
  .sbc .sbc-text h1 {
    font-size: 1.75em;
  }
  .sbc .sbc-text {
    padding-left: 2%;
  }
  .contact-pg {
    padding: 0;
  }
  .contact-pg .main {
    padding: 1em;
  }
  .contact-pg .main .content-panel > p {
    display: none;
  }
  .sub-form-section .btn-container {
    text-align: center;
  }
  body.sub .sub-form-section {
    border: none;
    padding: 0;
  }
  .sub .contact-box {
    padding: 1em;
  }
  .sub.contact-us .sub-form-section .btn-container {
    display: none;
  }
  .sub.contact-us .sub-form-section .contact-form {
    max-height: 500px;
  }
  .sub.contact-us .sub-form-section .contact-form li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .sub.contact-us .sub-form-section .contact-form .submit-btn {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .contact-pg .box > .content {
    font-size: 1.25em;
  }
  .sub-form-section .contact-box .contact-form.box {
    margin: 0;
  }
  .sub-form-section.open .contact-box .contact-form.box {
    margin: 2em auto 1em;
  }
  .about-steps .box .third {
    display: none;
  }
  .about-steps > section {
    padding: 0;
  }
  .about-steps .sec-1 {
    padding: 0 !important;
  }
  .contentlist {
    padding: 0 0.5em;
  }
  .content-panel.contentlist > li > h3 {
    padding: 0.5em 2.5em 0.5em 1em;
  }
  .contact-pg .box .contact-form {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .animation {
  }
  .info {
  }
  .info h2 {
    letter-spacing: 0;
  }
  .animate-cont {
    position: relative;
    padding: 1em 2% 0 2%;
  }
  .results-list li {
    -webkit-flex: 0 1 96%;
    -ms-flex: 0 1 96%;
    flex: 0 1 96%;
  }
  .cont-over .content-panel.overlap u {
    font-size: 1.25em;
  }
  .wide-cta-section .btn-wrap .btn {
    display: block;
    margin: 1em auto;
  }
  .results-list,
  .results-section .results-info.second {
    display: none;
  }
  .contact-news-section {
    border: none;
  }
  .contact-news-section .contact-box,
  .blogfeed-box {
    padding: 0.5em 5%;
  }
  .blogfeed-box ul li {
    display: none;
  }
  .blogfeed-box ul li:first-child {
    display: block;
  }
  .blogfeed-box ul li a {
    padding-right: 2em;
  }
  .social.box li {
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }
  .contact-news-section #ContactFormContent {
    display: none;
  }
  .news-articles-woodmore ul li {
    width: 100%;
  }
  .atty-body .atty-tabs .btn {
    display: block;
  }
  .atty-header .box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .atty-header .atty-img {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .atty-header .atty-info {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .atty-body-content {
    padding: 0 5%;
  }
  .blog.item h2 {
    font-size: 1.5em;
  }
  .blog.item h1 {
    font-size: 1.5em;
  }
  .box-list ul li a {
    height: 11em;
    margin: 0.5em;
  }
  .box-list ul li .pic-box {
    margin: 0 0 0.5em 0.5em;
  }
  .box-list ul li .pic-box:before {
    display: none;
  }
  .box-list ul li .info-btn {
    font-size: 1em;
    margin: 0 0 0.5em 0.5em;
  }
  .box-list ul li .pic-box .btn {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1em;
    padding: 0.5em;
    display: none;
  }
  .box-list ul li {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .animation {
  }
  .info h2 {
    font-size: 2.75em;
  }
  .info h3 {
    font-size: 1.75em;
  }
  .cont-over .content-panel.overlap u {
  }
  .info {
    padding-left: 0;
  }
  .wide-cta p img {
    width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 400px) {
  .info h2 {
    font-size: 2.5em;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .practice-nav {
    padding: 3%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  nav.top-nav {
    -webkit-flex: 1 1 60%;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
  }
  select::-ms-expand {
    display: none;
  }
  .practice-nav ul,
  .results-list {
    display: inline-block;
  }
  .practice-nav ul li {
    padding: 0.5em 0em 0.5em 0.5em;
    float: left;
    width: 50%;
  }
  .results-list li {
    height: 12em;
    float: left;
    width: 46%;
    margin: 2% 4% 2% 0;
  }
  .accolades {
    padding: 3%;
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
  .contact-box {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  .blogfeed-box ul li a {
    padding-right: 2em;
  }
  .box-list ul li {
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding: 1em;
  }
  .test-sys ul.main li {
    margin: 2em 0;
    -webkit-flex: 0 1 43%;
    -ms-flex: 0 1 43%;
    flex: 0 1 43%;
  }
  .csg .res-item {
    margin: 2em 1%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .atty-header .atty-img {
    -webkit-flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
  }
  .atty-header .atty-info {
    padding: 3em 30% 0em 1%;
  }
  .csg .res-item {
    -webkit-flex: 0 1 43%;
    -ms-flex: 0 1 43%;
    flex: 0 1 43%;
  }
}
