.midcont-section {
  z-index: 2;
}

.midcont-section .mid-img {
  padding: 4em 0;
  -webkit-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.midcont-section .mid-img .img {
  width: 100%;
}

.midcont-section .cont-wrap {
  position: relative;
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.midcont-section .cont-wrap .content-panel {
}

.midcont-section .cont-wrap .content-panel h2 {
  color: $emphasis;
  font-weight: 600;
  font-size: 1.35em;
}

.midcont-section .cont-wrap .content-panel .btn {
  margin-top: 2em;
}
