.desktop-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: $fontHeading;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.desktop-nav li {
}
.desktop-nav > li {
  position: static;
}
.desktop-nav li a {
  color: $white;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding: 1.75em 0;
}
.desktop-nav li a span {
  position: relative;
  padding: 0.5em;
}

.desktop-nav li a span:before,
.desktop-nav li a span:after {
  position: absolute;
  content: '';
  background-color: $secondary;
}

.desktop-nav li a span:before {
  left: 0;
  transition: height 0.15s ease 0.15s, background-color 0.5s ease 0.6s;
  width: 2px;
  height: 0;
  top: 0;
}

.desktop-nav li a span:after {
  transition: width 0.15s ease 0.15s, background-color 0.5s ease 0.6s;
  bottom: 0;
  height: 2px;
  width: 0;
  right: 0;
}

.desktop-nav li a:hover span:before,
.desktop-nav li a.selected span:before {
  height: 100%;
  background-color: $secondary;
}

.desktop-nav li a:hover span:after,
.desktop-nav li a.selected span:after {
  background-color: $secondary;
  width: 100%;
}

.desktop-nav li .nav-flyout {
  height: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  transition: all ease 0.5s;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.desktop-nav li a.selected + .nav-flyout {
  z-index: 1;
}

.desktop-nav li a:hover + .nav-flyout,
.desktop-nav li a + .nav-flyout:hover {
  background-color: $primary;
  height: auto;
  transition: all ease 1s;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.desktop-nav li a:hover + .nav-flyout,
.desktop-nav li a + .nav-flyout:hover {
  z-index: 2;
  transition: all ease 0.5s;
}

.desktop-nav li .nav-flyout > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 1100px;
  margin: 2em auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.desktop-nav li .nav-flyout > ul > li {
  -webkit-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  display: block;
}

.desktop-nav .nav-flyout li a span {
  display: inline-block;
  position: relative;
  padding: 0.75em;
  border-bottom: solid 1px $primarydark;
}

.ui-scroll {
  overflow: auto;
}
.ui-scroll::-webkit-scrollbar-track {
  background: none;
}
.ui-scroll::-webkit-scrollbar-thumb {
  border: solid 2px transparent;
  background-clip: padding-box;
  border-radius: 12px;
  background-color: $primarytranslucent;
}
.ui-scroll::-webkit-scrollbar-corner {
  background-color: transparent;
}
.ui-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.ui-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: none;
}

.top-nav .ui-scroll {
  _overflow: visible !important;
}
