.mobile-nav {
  display: none;
}

.mobile-menu nav {
  position: static;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0.85rem;
  z-index: 10;
}

.mobile-menu nav.enter {
  left: 0;
}

.mobile-menu nav ul {
  position: relative;
  transition: left 0.5s ease;
  left: 0;
  padding-top: 4em !important;
  display: block !important;
  padding: 0;
  margin: 0;
}

.mobile-menu nav ul.leave {
  left: -100%;
}

.mobile-menu nav ul:before {
  content: 'Back';
  position: absolute;
  color: $white;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding-left: 3em;
  line-height: 2.5em;
  font-size: 1.5em;
  text-align: left;
}

.mobile-menu nav > ul:before {
  content: 'Close';
  text-align: left;
  display: none;
}

.mobile-menu nav ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  color: $white;
  position: absolute;
  font-size: 1.5em;
  left: 0.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  top: 0.875em;
}

.mobile-menu nav > ul:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  display: none;
}

.mobile-menu nav ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  list-style: none;
}

.mobile-menu nav ul li.hasChild:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  float: right;
  font-size: 1.5em;
  margin-right: 1.5em;
  color: $white;
  line-height: 2.65em;
}

.mobile-menu nav ul li a {
  display: block;
  color: $white !important;
  padding: 0.5em 1em;
  text-align: left !important;
  background-color: transparent !important;
  font-size: 1.7em;
}

.mobile-menu nav ul li.hasChild > a {
  width: calc(100% - 3em);
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.mobile-menu nav ul ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.mobile-menu nav ul.leave > li.enter > ul {
  visibility: visible;
  margin-left: 0;
}

.mobile-menu .exit {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0;
  border: solid 2px $secondary;
  display: block;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: 0.5s ease;
  right: 0;
}

.mobile-menu .exit .close {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-menu .exit .close:before {
  width: 80%;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
}

.mobile-menu .exit .close:after {
  width: 80%;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
}

.trig-wrap {
  display: none;
  position: relative;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 60%;
}

.menu-trigger {
  margin-right: 3em;
  cursor: pointer;
  display: block;
  border: solid 2px $secondary;
  height: 3.5em;
  width: 3.5em;
  position: relative;
}

.menu-trigger .line {
  height: 5px;
  background-color: $white;
  margin: 0 auto;
  width: 70%;
  transition: 0.5s ease;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-trigger .line:nth-child(1) {
  transition-delay: 0.6s;
  top: 28%;
}

.menu-trigger .line:nth-child(2) {
  transition-delay: 0.7s;
  top: 50%;
}

.menu-trigger .line:nth-child(3) {
  transition-delay: 0.8s;
  top: 72%;
}

.menu-trigger .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-trigger .close:before {
  transition-delay: 0.35s;
  width: 0;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s;
}

.menu-trigger .close:after {
  transition-delay: 0.5s;
  width: 0;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.5s ease 1s, width 0.5s ease 0.5s;
  content: '';
}
