.main-contain {
  padding-top: 5rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-contain .sidebox {
  -webkit-flex: 0 1 75%;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.bloghome {
  padding-right: 25%;
}

.blog.item {
  margin-top: 2em;
}

.blog.item h2 {
  font-weight: 600;
  font-size: 1.75em;
  margin: 0.5em 0;
}

.blog.item h2 a {
  color: $emphasis;
}

.blog.item .content {
  color: $primarydark;
}

.blog.item .byline {
  display: block;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1em;
  color: $secondary;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.blog.item .byline div {
  float: left;
}

.blog.item .byline span {
  color: $lightgray;
}

.blog.item .byline a {
  text-transform: none;
  letter-spacing: 0;
  float: right;
}

.blog.item .byline:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}

div.blog div.divider {
  margin: 0.75em 0px;
  clear: both;
  border-bottom: solid 2px $lightgray;
}

.res-item.info {
  margin: 2em auto;
}

.res-item.info h3.value {
  font-size: 2.5em;
}

.res-item.info .btn-container {
  margin: 1em auto;
}
