.subblank-cont {
  padding: 3em 0;
}

.atty-list {
  padding: 2em 0;
}

.box-list {
  padding: 2em 0;
}

.box-list ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box-list ul li {
  -webkit-flex: 0 1 33.3%;
  -ms-flex: 0 1 33.3%;
  flex: 0 1 33.3%;
  padding: 2em;
}

.box-list ul li a {
  display: block;
  border-left: solid 2px $lightgray;
  border-bottom: solid 2px $lightgray;
}

.box-list ul li .pic-box {
  position: relative;
  margin: 0em 0 1em 1.5em;
}

.box-list ul li .pic-box:before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(18, 54, 85, 0.7)
  );
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  bottom: 0;
}

.box-list ul li a:hover .pic-box:before {
  height: 100%;
}

.box-list ul li .pic-box img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
  height: 0;
  padding-bottom: 68%;
}

.box-list ul li .pic-box .btn {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  margin: auto;
  -webkit-transition: 0.5s ease;
  -moz--transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}

.box-list ul li a:hover .pic-box .btn {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background-color: $secondary;
}

.box-list ul li .info-btn {
  font-family: $fontHeading;
  font-size: 1.5em;
  color: $primarydark;
  margin: 0 0 0.5em 1em;
}
