.sbc {
  position: relative;
  padding-bottom: 12%;
  background-size: cover;
  background-position: top center;
  height: 35.375em;
}

.sbc:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(204, 204, 204, 0)
  );
  background-image: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(204, 204, 204, 0)
  );
  background-image: -o-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(204, 204, 204, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(204, 204, 204, 0)
  );
  z-index: 1;
}

.sbc > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sbc .main {
  position: relative;
  z-index: 3;
  padding: 0;
}

.sbc .sbc-text {
  padding: 10%;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  max-width: 70%;
  line-height: 2em;
  float: left;
}

.sbc .sbc-text h1 {
  color: $white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4em;
}

.content-one {
}

.cont-over .main.box {
  padding-left: 0;
  padding-right: 0;
}

.cont-over .content-panel.overlap {
  padding: 3em 3em 0 3em;
}

.cont-over .top-img,
.cont-over .bottom-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  margin: 3em 0;
}

.content-boxes .img-chk span {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 68%;
  position: relative;
}

.content-boxes .img-chk span:before {
  content: '';
  width: 95%;
  height: 95%;
  position: absolute;
  background-color: $white;
  top: -1em;
  box-shadow: 2px -2px 0em 2px $lightgray;
  right: -1em;
}

.content-boxes .img-chk span img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.content-two {
  margin-top: 4em;
}

.banner-img-two {
  background-position: top center;
  padding-bottom: 15%;
  background-size: cover;
  background-repeat: no-repeat;
}
