.prac-acco-section {
  padding: 10em 0 25em 0;
  /* Note, add background image */
  /* background-image: url(/web/address/here.jpg); */
  background-position: top;
  background-repeat: no-repeat;
}

.prac-acco-section .box {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.practice-nav {
  background-color: $primaryopague;
  padding: 4%;
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.practice-nav h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 600;
}

.practice-nav h3 a {
  color: $white;
}

.practice-nav ul {
  margin: 3em 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

.practice-nav ul li {
  padding: 0.5em 0em 0.5em 1em;
  border-left: solid 1px $white;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.practice-nav ul li a {
  color: $white;
  display: block;
  position: relative;
}

.practice-nav ul li a:hover:after {
  margin-left: 2em;
}

.practice-nav .btn-container {
  text-align: center;
  padding: 0;
}

.practice-nav .btn-container .btn {
  padding: 0.5em 2.5em;
}

.accolades {
  background-color: $primaryopague;
  padding: 4%;
  -webkit-flex: 0 1 35%;
  -ms-flex: 0 1 35%;
  flex: 0 1 35%;
  text-align: center;
}

.accolades h3 {
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.75em;
  margin-bottom: 1em;
}

.award-list ul {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.award-list ul li {
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  text-align: center;
  padding: 0.5em 0;
  position: relative;
  height: 9em;
}

.award-list ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.award-list ul li:hover img {
  opacity: 0.2;
}

.award-list ul li div {
  color: $white;
  position: absolute;
  top: 20%;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: 0.5s ease-in;
  line-height: 1.15em;
}

.award-list ul li:hover div {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
