.results-section {
  background-color: $primarydark;
  padding: 4em 0;
  text-align: center;
}

.results-section header {
}

.results-section header h2 {
  color: $white;
  text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 600;
}

.results-section .results-info {
  margin: 2em auto;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.results-section .results-info.first {
  border-right: solid 1px $white;
  padding-right: 4em;
}

.results-section .results-info.second {
  padding-left: 4em;
}

.results-section .content {
  text-align: left;
  color: $white;
  padding: 0 1%;
}

.results-section .content h3 {
  color: $emphasis;
  font-size: 2.5em;
  font-weight: 600;
}

.results-section .content h4 {
  color: $emphasis;
  font-size: 3em;
  font-weight: 600;
}

.results-section .content h4 em {
  font-style: normal;
  font-weight: 300;
}

.results-list {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.results-list li {
  background-color: $white;
  -webkit-flex: 0 1 46%;
  -ms-flex: 0 1 46%;
  flex: 0 1 46%;
  margin: 2% auto;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.results-list li h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 1em;
}

.results-list li h2:after {
  content: '';
  width: 50%;
  height: 2px;
  left: 25%;
  position: absolute;
  background-color: $emphasis;
  bottom: -0.5em;
}

.results-list li h4 {
  color: $emphasis;
  text-transform: uppercase;
}

.results-list li .hover {
  background-color: $emphasis;
  color: $white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  transition: 0.5s ease-in;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
}

.results-list li:hover .hover {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.results-list li .hover h4 {
  position: relative;
  color: $white;
  margin-bottom: 1em;
}

.results-list li .hover h4:after {
  content: '';
  width: 50%;
  height: 2px;
  left: 25%;
  position: absolute;
  background-color: $white;
  bottom: -0.5em;
}
