.main-contain .side-container {
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: $nearwhite;
  margin: 2em 1em 0 1em;
}

.side-nav {
}

.sys-nav {
  border-top: solid 1em $white;
}

.side-nav header {
  background-color: $primary;
  color: $white;
  margin-bottom: 0.75em;
}
.side-nav header h2 {
  margin: 0;
  text-align: center;
  line-height: 1.2em;
  padding: 0.75em 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  color: $white;
  font-size: 2em;
}
.side-nav header h2 a {
  color: $white;
}
.side-nav ul {
  margin: 0;
}
.side-nav ul li {
  margin: 0 0 0.75em;
  width: 100%;
  padding: 0 1.5em;
}
.side-nav ul > li > ul > header {
  display: none;
}
.side-nav ul li a {
  display: block;
  margin: 0;
  line-height: 1.5em;
  color: $secondary;
  position: relative;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0.75em 1em 0.75em 1em;
  font-weight: 700;
  border-left: solid 2px #b4b4b4;
  border-bottom: solid 2px #b4b4b4;
  text-align: center;
}
.side-nav ul li a:hover,
.side-nav ul li.selected a {
  background-color: $primary;
  color: $white;
}
.side-nav ul li.expand > a:before {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  height: 1em;
  right: 0.5em;
  top: 50%;
  position: absolute;
  font-size: 1em;
  width: 1em;
  color: $lightgray;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.side-nav ul li a:hover:before,
.side-nav ul li.selected a:before {
}
.side-nav ul li.expand > .menu {
  -webkit-transition: opacity 1.5s ease, max-height 1s ease;
  -moz-transition: opacity 1.5s ease, max-height 1s ease;
  -o-transition: opacity 1.5s ease, max-height 1s ease;
  transition: opacity 1.5s ease, max-height 1s ease;
  max-height: 0;
  padding: 0 1em;
  visibility: hidden;
  opacity: 0;
}
.side-nav ul li.expand:hover > .menu {
  max-height: 100em;
  visibility: visible;
  opacity: 1;
  padding: 0.5em 1em;
}
.side-nav ul li.expand:hover > a:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
}
