.test-sys {
  padding-top: 2em;
}

.test-sys .article small {
  display: none;
}
.test-sys ul.main {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.test-sys ul.main li {
  -webkit-flex: 0 1 46%;
  -ms-flex: 0 1 46%;
  flex: 0 1 46%;
  border-left: solid 2px $lightgray;
  border-bottom: solid 2px $lightgray;
  margin: 2em 2%;
  padding: 0 1% 1em 1em;
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
}

/* .test-sys ul.main li:nth-child(odd) {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.test-sys ul.main li:nth-child(even) {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.test-sys ul.main li.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
} */
.test-sys ul.main li .review h2 {
  font-style: italic;
  font-size: 1.75em;
  line-height: 1.5em;
  font-family: $fontBody;
}
.test-sys ul.main li .test-info {
  color: $primarydark;
  margin: 1.5em 0;
  font-size: 0.75em;
  line-height: 2em;
}
.test-sys ul.main li .test-info em {
  display: block;
  font-style: normal;
  margin-left: 1em;
}
