.value-section {
  padding: 8em 2%;
}

.value-section .box {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.value-section .content {
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.value-section .content > .box {
  font-style: italic;
  margin: 2em 0;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.value-section .content .btn-container {
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  text-align: right;
}

.value-section .box .quote {
  font-size: 1.25em;
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.value-section .box .btn-container {
  font-style: normal;
}

.value-section .box .quote em {
  display: block;
  margin: 1.5em 0;
  line-height: 1.25em;
  position: relative;
  padding-left: 1em;
}

.value-section .box .quote em:before {
  content: '-';
  position: absolute;
  left: 0;
}

.value-section .box .quote em strong {
  display: block;
}

.value-list {
  -webkit-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.value-list li {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 4em 0;
}

.value-list li icon {
  font-size: 5em;
  text-align: center;
  color: $emphasis;
}

.value-list li h4 {
  -webkit-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
  font-size: 1.75em;
}
