.wide-cta-section {
  padding: 2em 0;
}

.wide-cta {
  border-left: solid 2px $lightgray;
  border-bottom: solid 2px $lightgray;
  padding: 2em;
  margin: 0 2em 2em 1.5em;
  font-size: 1.5em;
}

.wide-cta h3 {
  line-height: 1.5em;
  color: $primarydark;
  font-family: $fontBody;
}

.wide-cta strong {
  display: block;
}

.wide-cta-section .btn-wrap {
  padding: 2em 5em;
}
