.biography {
  // box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  float: left;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__caption {
    @include absCenter;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    backface-visibility: 0;

    h5 {
      color: $color-white;
      font-family: $font-heading;
      font-weight: 700;
      font-size: 2rem;
      border-bottom: 2px solid $color-white;
    }

    a {
      display: inline-block;
      height: 5rem;
      width: 5rem;
      font-size: 2rem;
      line-height: 5rem;
      text-align: center;
      color: $color-white;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &:hover &__caption {
    opacity: 1;
  }

  &:hover &__image {
    filter: blur(3px) brightness(30%);
  }
}
