.blog-post {
  float: left;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    backface-visibility: hidden;
  }

  &__title {
    width: 100%;
    padding: 3rem 3rem;
    background-color: $color-white;

    h3 {
      text-transform: none;
    }

    a {
      text-decoration: none;
      color: $color-secondary-dark;
    }
  }
}
