.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    // border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    // border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.2) scaleY(1.2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    border: 2px solid $color-white;
    color: $color-white;
    background-color: transparent;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
      transition: all 0.2s;
    }

    // &::after {
    //   background-color: $color-white;
    // }
  }

  &--primary {
    border: 2px solid $color-primary;
    color: $color-primary;
    background-color: $color-white;

    &:hover {
      color: $color-secondary-dark;
      border-color: $color-secondary-dark;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    // animation: moveInBottom .5s ease-out .75s;
    // animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }

  &__secondary {
    &:link,
    &:visited {
      color: $color-secondary-dark;
      border-bottom: none;
    }

    &:hover {
      background-color: $color-secondary-dark;
      color: $color-white;
    }
  }

  &__big {
    &:link,
    &:visited {
      font-size: 3rem;
    }
  }
}

.btn--scroll {
  background-color: rgba($color-white, 0.8);
  border-radius: 100%;
  padding: 1.5rem;

  &:hover {
    background-color: rgba($color-primary, 0.8);

    .scroll-text {
      color: $color-white;
      transform: translateY(-2px);
    }
  }
}

.scroll-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
  }
}
