.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  position: relative;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    position: relative;
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__social {
    @include clearfix;
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      float: left;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;

      a {
        font-size: 1.6rem;
        line-height: 9rem;
        margin-left: 2.2rem;
        border-bottom: 1px solid $color-grey-light-1;
        &:link,
        &:visited {
          color: $color-grey-light-1;
          background-color: $color-grey-dark-3;
          transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:active {
          color: $color-primary;
          border-color: $color-primary;
          box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        }
      }
    }
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        a {
          &:link,
          &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
          }

          &:hover,
          &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
          }
        }
      }
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
