.contact {
  &__info {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: $color-white;
    margin-right: 2px;
    bottom: 0;

    span {
      display: block;
      margin-bottom: 2rem;

      h6 {
        display: inline-block;
        font-size: 2rem;
        padding-right: 1rem;

        i {
          display: inline-block;
          font-size: 2rem;
          padding-right: 1rem;
        }

        span {
          display: inline-block;
          font-size: 2rem;

          a {
            color: $color-white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-tertiary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
