nav {
  @include clearfix;
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
  border: none;
  min-height: 6rem;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1200;
  background-color: rgba($color-black, 0.5);
  width: 100%;
  line-height: 0;
}

.navbar {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 5rem;

  @include respond(tab-port) {
    padding-left: 0;
  }

  &__header {
    width: 20%;
  }

  &__wrapper {
    @include clearfix;
    float: left;
    position: relative;
    min-height: 1px;
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: none;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__list {
    @include clearfix;
    padding-left: 0;
    margin: 0;
    list-style: none;
    float: none;
    display: inline-block;

    li {
      position: relative;
      display: block;
      float: left;

      a {
        text-decoration: none;
        outline: none;
        position: relative;
        display: block;
        font-family: $font-body;
        text-transform: uppercase;
        padding: 0 2rem;
        line-height: 9rem;
        color: $color-white;
        font-size: 1.3rem;
        letter-spacing: 0.02em;
        font-weight: 700;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-primary !important;
        }
      }
    }
  }

  &__social {
    @include clearfix;
    width: 20%;
    float: right;
    padding: 0 1.5rem;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__social-list {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        font-size: 1.6rem;
        line-height: 9rem;
        margin-left: 2.2rem;
        color: $color-white;
        border-bottom: 1px solid $color-white;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }
}

.logo {
  padding: 0 1.5rem;
  float: left;

  @include respond(tab-port) {
    padding-left: 0;
  }

  a {
    height: 9rem;
    transition: all 0.3s ease-in-out;

    img {
      transition: all 0.3s ease-in-out;
      height: 6.6rem;
      padding-top: calc((9rem - 6.6rem) / 2);

      @include respond(tab-land) {
        padding-top: 0;
      }
    }
  }
}

.nav-mobile {
  display: none;

  @include respond(tab-land) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    right: 6rem;
    border-radius: 10%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.9);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      right: 4rem;
      top: 0.75rem;
    }

    @include respond(phone) {
      right: 3rem;
    }
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 10%;
    position: fixed;
    right: 6.5rem;
    top: 1.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port) {
      right: 4.5rem;
      top: 1.25rem;
    }

    @include respond(phone) {
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include absCenter;
    list-style: none;
    text-align: center;
    width: 100%;
    font-family: $font-body;
    font-weight: 400;
    line-height: 1.7;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__social {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
      list-style: none;
      font-weight: 400;
      line-height: 1.7;

      li {
        display: inline-block;
        float: left;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;

        a {
          font-size: 3rem;
          color: $color-white;
          border-bottom: 1px solid $color-white;
          transition: all 0.3s ease-in-out;
          margin-left: 1rem;
          margin-right: 1rem;
        }

        &:hover {
          background-color: $color-white;
          a {
            color: $color-primary;
            border-color: $color-primary;
          }
        }
      }
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
