.pitch-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;

  @include respond(tab-port) {
    padding: 2rem;
  }

  i {
    color: $color-white;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
}
