.scroll-wrapper--down {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-wrapper--up {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
