.testimony-box {
  color: $color-white;
  position: relative;

  i {
    display: block;
    font-size: 3rem;
  }

  &__text {
    font-size: 2.5rem;
    line-height: 4rem;
    font-style: italic;
  }

  &__name {
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__assoc {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.3rem;
  }
}

.slick-dots {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  bottom: -1.5rem;
}

.slick-dots {
  li {
    list-style: none;
    display: inline;
  }

  li button {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    background-color: rgba($color-white, 0.5);
    box-shadow: 1px 1px 1px rgba($color-black, 0.25);
    border-radius: 50%;
    border: none;
    margin: 0 4px;
    padding: 0;
    outline: none;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
  }

  .slick-active button {
    background-color: $color-white;
  }
}
