.banner {
  &__image {
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
      padding: 10rem 0;
    }
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 5%;
    h1 {
      font-size: 6.5rem;
      color: $color-white;
    }
    h2 {
      font-size: 3.25rem;
      color: $color-white;
      font-family: $font-body;
    }
  }

  @include respond(tab-port) {
    display: none;
  }

  &__portable {
    display: none;

    h1 {
      font-size: 3.25rem;
    }

    h2 {
      font-size: 2rem;
      font-family: $font-body;
    }

    @include respond(tab-port) {
      display: block;
    }
  }
}
