.blog-card {
  &__frame {
    box-shadow: 0 3rem 6rem rgba($color-secondary-light, 0.1);
    float: left;
    position: relative;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__caption {
    @include absCenter;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

    a {
      display: inline-block;
      font-size: 2.3rem;
      line-height: 8rem;
      text-align: center;
      color: $color-secondary-light;
      text-decoration: none;
    }
  }

  &__frame:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__frame:hover &__image {
    transform: translateX(-4rem) scale(1.2);
    filter: blur(3px) brightness(80%);
  }
}
