#intro {
  background-color: $color-secondary-light;

  .container {
    @include container;

    @include respond(tab-port) {
      @include fullContainer;
    }
  }

  .content {
    @include container;
    background: rgba($color-white, 0.85);
    border: 6px double $color-primary;
    text-shadow: 1px 1px $color-white;
    padding: 10rem;
  }
}

#menu {
  @include container;
}
