/* Customize Login Screen */
body.login .button-primary {
  background-color: $color-secondary-light;
  border-color: color($color-secondary-light b(+10%));
  text-shadow: 0 -1px 1px color($color-secondary-light b(+15%)),
    1px 0 1px color($color-secondary-light b(+15%)),
    0 1px 1px color($color-secondary-light b(+15%)),
    -1px 0 1px color($color-secondary-light b(+15%));
  box-shadow: 0 1px 0 color($color-secondary-light b(+20%));
}

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: color($color-secondary-light b(+7%));
  border-color: color($color-secondary-light b(+15%));
  text-shadow: 0 -1px 1px color($color-secondary-light b(+20%)),
    1px 0 1px color($color-secondary-light b(+20%)),
    0 1px 1px color($color-secondary-light b(+20%)),
    -1px 0 1px color($color-secondary-light b(+20%));
  box-shadow: 0 1px 0 color($color-secondary-light b(+25%));
}

body.login {
  background-color: $color-primary;
}

.login h1 a {
  color: $color-white;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}
