header {
  nav {
    @include clearfix;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0;
    border: none;
    min-height: 4rem;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1200;
    background-color: transparent;
    width: 100%;
    line-height: 0;

    .admin-bar {
      top: 32px;
    }
  }
}

.navbar {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 5rem;

  .nav-mobile {
    display: none;

    @include respond(tab-land) {
      display: block;
    }

    &__checkbox {
      display: none;
    }
    &__button {
      background-color: $color-grey-dark-2;
      height: 5rem;
      width: 5rem;
      position: fixed;
      top: 1rem;
      right: 6rem;
      border-radius: 10%;
      z-index: 2000;
      box-shadow: 2px 2px $color-primary;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $color-grey-dark;
      }

      @include respond(tab-port) {
        right: 4rem;
        top: 0.75rem;
      }

      @include respond(phone) {
        right: 3rem;
      }
    }
    .admin-bar {
      top: calc(32px + 1rem);

      @include respond(tab-port) {
        top: calc(46px + 0.75rem);
      }

      @include respond(phone) {
        top: 46px;
      }
    }

    &__background {
      height: 4rem;
      width: 4rem;
      border-radius: 10%;
      position: fixed;
      right: 6.5rem;
      top: 1.5rem;
      background-image: radial-gradient(
        $color-primary-light,
        $color-primary-dark
      );
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      @include respond(tab-port) {
        right: 4.5rem;
        top: 1.25rem;
      }

      @include respond(phone) {
        right: 3.5rem;
      }
    }

    .admin-bar-background {
      top: calc(32px + 1.5rem);

      @include respond(tab-port) {
        top: calc(46px + 1.25rem);
      }

      @include respond(phone) {
        top: 46px;
      }
    }
    &__nav {
      height: 100vh;
      position: fixed;
      top: 0%;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      ul {
        @include absCenter;
        list-style: none;
        text-align: center;
        width: 100%;
        font-family: $font-body;
        font-weight: 400;
        line-height: 1.7;

        li {
          margin: 1rem;

          a {
            &:link,
            &:visited {
              display: inline-block;
              font-size: 3rem;
              font-weight: 300;
              padding: 1rem 2rem;
              color: $color-secondary-light;
              text-decoration: none;
              text-transform: uppercase;
              background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                $color-white 50%
              );
              background-size: 300%;
              transition: all 0.4s;
            }

            &:hover {
              background-position: 100%;
              transform: translateX(1rem);
            }
          }

          &.current-menu-item a {
            background-position: 100%;
            transform: translateX(1rem);
          }
        }
      }
    }
    &__social {
      ul {
        position: fixed;
        top: 90%;
        transform: translateX(-50%);
      }
    }
    &__admin {
      ul {
        position: fixed;
        top: 75%;
        transform: translateX(-50%);
      }
    }
  }

  &__wrapper {
    @include clearfix;
    float: left;
    position: relative;
    min-height: 1px;
    margin-top: 20rem;
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    box-shadow: none;

    @include respond(tab-land) {
      display: none;
    }

    ul {
      @include clearfix;
      padding-left: 0;
      margin: 0;
      list-style: none;
      float: none;
      display: inline-block;

      li {
        position: relative;
        display: block;
        float: left;
        background-color: $color-grey-dark-2;

        a {
          text-decoration: underline;
          outline: none;
          position: relative;
          display: block;
          font-family: $font-body;
          text-transform: uppercase;
          padding: 0 2rem;
          line-height: 5rem;
          color: $color-primary;
          font-size: 1.3rem;
          letter-spacing: 0.02em;
          font-weight: 700;
          transition: all 0.3s ease-in-out;
          border: 3px solid $color-grey-dark;
          box-shadow: inset 3px 3px 0px $color-white;

          &:hover {
            color: $color-secondary-light !important;
            background-color: $color-grey-dark;
            border-color: $color-grey-dark-2;
          }
        }

        &.current-menu-item a {
          color: $color-secondary-light !important;
          text-decoration: none;
          background-color: $color-grey-dark;
          border-color: $color-grey-dark-2;
        }
      }
    }
  }
  &__admin {
    @include clearfix;
    width: 25%;
    float: right;
    margin: 0;
    margin-top: 20rem;
    padding: 0;

    @include respond(tab-land) {
      display: none;
    }

    li {
      position: relative;
      display: block;
      float: left;
    }

    a,
    a:visited {
      text-decoration: underline;
      text-transform: uppercase;
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.3rem;
      line-height: 5rem;
      color: $color-primary;
      background-color: $color-grey-dark-2;
      transition: all 0.3s ease-in-out;
      border: 3px solid $color-grey-dark;
      box-shadow: inset 3px 3px 0px $color-white;
      margin-right: -1rem;
      max-height: 5rem;

      &:hover {
        color: $color-secondary-light;
        background-color: $color-grey-dark;
        border-color: $color-grey-dark-2;
      }
    }
  }
}

.site-header__avatar {
  position: relative;
  overflow: hidden;

  img {
    padding-top: 10px;
    width: auto;
    height: 30px;
  }
}

// ICON
.nav-mobile__button i {
  position: relative;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px $color-primary;

  &.expand {
    display: inline-block;
  }

  &.hide {
    display: none;
  }
}

// FUNCTIONALITY
.nav-mobile {
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__checkbox:checked + &__button i.expand {
    display: none;
  }

  &__checkbox:checked + &__button i.hide {
    display: inline-block;
    transform: rotate(135deg);
  }
}

// Logo
.logo img {
  box-shadow: 10px 10px $color-primary;
}
